[2021-07-21 16:01] thomasw21 opened #6 "Rotary embeddings"
# Description

Implement rotary embeddings:
 - paper: https://arxiv.org/pdf/2104.09864.pdf
 - code: https://github.com/ZhuiyiTechnology/roformer

 # Done

 - [ ] train a model using rotary embeddings

[2021-07-21 17:17] ibeltagy commented on #6
@thomasw21, the code snippet here https://blog.eleuther.ai/rotary-embeddings/ should be easier to follow.

[2021-07-21 17:29] thomasw21 commented on #6
Ah but it looks like EleutherAI already implemented it in MegatronLM setup. https://github.com/EleutherAI/gpt-neox/blob/main/megatron/model/transformer.py#L340

[2021-07-23 19:06] stas00 opened #10 "Issue to gather Fixes to send upstream"
Please edit to add whatever fixes we applied to the core and which need to be propagated upstream into:
1. https://github.com/microsoft/Megatron-DeepSpeed
2. https://github.com/NVIDIA/Megatron-LM

Changes:
- https://github.com/bigscience-workshop/Megatron-DeepSpeed/commit/d13f5c6bd9422986e86c67d5d91f2905a6faac52 train_samples check fix

[2021-07-27 01:20] ibeltagy opened #20 "Try the multi-dataset setup with sampling probabilities"
Multilingual models are trained on multiple datasets (one dataset per language) with a sampling probability for each dataset.

This feature (training on instances randomly sampled from multiple dataset files) seems to be supported in our Megatron code base (check here https://github.com/bigscience-workshop/Megatron-DeepSpeed/blob/main/run.sh#L9-L12, thanks to @sbmaruf for finding it), but we want

[2021-07-27 06:01] ibeltagy opened #21 "Implement prefix-lm as in the T5 paper"
AFAIU, the current implementation ~~uses the first 50% as the prefix~~ doesn't support prefix-lm.  The T5 paper samples the prefix length randomly from 0 to max_sequence_lengh (which is 2048 in our case)

[2021-07-27 06:30] ibeltagy opened #22 "Setup a relatively simple evaluation benchmark"
We need an evaluation benchmark that we can use for iterating on the model design. It needs to satisfy the following requirements:
- Two versions: English-only and multilingual
- Zero-shot, few-shot, and many-shots: it should include at least the first two (the third is debatable)
- Works on Megatron checkpoints and hugginface/transformers checkpoints. The modeling group will make a Megatron check

[2021-07-27 18:36] ibeltagy opened #23 "Train English-only baseline"
[TODO: add details]

[2021-07-27 18:36] ibeltagy opened #24 "Train prefix-lm model"
TODO: fill in details

[2021-07-27 18:42] ibeltagy opened #25 "preprocess mC4"
Languages: Arabic, Swahili (Bantu), Chinese, Catalan, English, French, Indic (Hindi,Urdu,Bangla), Indonesian, Portuguese, Spanish, Russian, Japanese, Amharic

Then upload to the Google storage bucket
https://console.cloud.google.com/storage/browser/bigscience/mc4_preprocessing

[2021-07-27 18:42] ibeltagy opened #26 "Train multilingual autoregressive baseline"
TODO: add details

[2021-07-27 18:44] ibeltagy opened #27 "Simple English-only evaluation benchmark"
A simple script that evaluates a Megatron checkpoint on a small list of zero-shot evaluation datasets. We will use this to iterate on the model design. Maybe use the evaluation dataset here https://github.com/kingoflolz/mesh-transformer-jax
This is different from the more comprehensive benchmark the evaluation team is working on. This should be a quick easy-to-run benchmark.

[2021-07-27 18:48] ibeltagy opened #28 "Simple Multilingual evaluation benchmark"
Extend the setup from this issue https://github.com/bigscience-workshop/Megatron-DeepSpeed/issues/27 by adding a few "zero-shot" multilingual datasets to the evaluation.
Check table 2 here https://arxiv.org/pdf/2010.11934.pdf for potential datasets.

[2021-07-27 18:50] ibeltagy commented on #25
Assigned to @sbmaruf.
https://github.com/bigscience-workshop/Megatron-DeepSpeed/pull/9

[2021-07-28 02:27] lintangsutawika commented on #20
Please assign this to me.

[2021-07-28 08:06] thomasw21 commented on #21
Shouldn't the prefix-lm be on the size of the context?

[2021-07-28 16:48] #6 closed

[2021-07-30 19:59] ibeltagy opened #33 "Implement Gradient Noise Scale monitoring"
Follow appendix A.1 https://arxiv.org/pdf/1812.06162.pdf to implement monitoring of gradient noise scale and add it to the tensorboard log.

[2021-07-31 15:15] thomasw21 opened #35 "Limit cache for GPT2Tokenizer"
After some OOM errors when preprocessing large files, I noticed that the caching mechanim can have unlimited memory due to its ability to grow forever. This causes issues, in particular in multiprocessing cases when this cache is multiplied by the number of workers. This prevents to work with large datasets.

https://github.com/bigscience-workshop/Megatron-DeepSpeed/blob/781676b59d28c5f4b6fd155fcb

[2021-08-02 21:50] ontocord commented on #35
@thomasw21, the code we tested also has LRU cache of 1M items, so this should fix the issues.

[2021-08-02 21:52] ontocord commented on #20
Would you consider changing the preprocess_data script to actually create the combined multilingual dataset with sampling at that point. We could also do same basic preprocessing like langid? @thomasw21 are working on optimizing preprocessing.

[2021-08-02 21:53] ontocord commented on #21
Happy to help w/ this if you point me to the right files.  @thomasw21 I can help you with this if you want. Lmk

[2021-08-02 22:21] ibeltagy commented on #21
@thomasw21, I just saw your question now.

Check this figure from the T5 paper
![image](https://user-images.githubusercontent.com/2287797/127929740-e337fb0d-3ab7-4557-a25e-d1e16942d2b3.png)

With autoregressive LM, the mask is "Causal" (the one in the middle).
With prefix-lm, the mask is "Causal with prefix" (the one on the right).
The question is about the length of the prefix. The T5 implementat

[2021-08-02 22:23] ibeltagy commented on #20
@ontocord, we believe it is better to keep the preprocessed files for each language separate to make it easy to change the sampling probabilities at training time.

[2021-08-02 22:37] thomasw21 commented on #21
Ah yes sorry I meant, why only randomly sampled? To my understanding:
 - for unlabeled data, you don't really have a choice, so random prefix makes sense.
 - for prompts we generated through the hackathon, we probably want to set the prefix to the context, ie everything before "|||" in jinja no?

[2021-08-02 23:37] ibeltagy commented on #21
That's fine, we can implement one function that takes the prefix length as input or samples a random length if the input is None. In `pretrain_gpt.py`, we will call the random version.

[2021-08-03 00:04] ontocord commented on #21
Thanks @thomasw21 and @ibeltagy. I'll take a look at https://github.com/bigscience-workshop/Megatron-DeepSpeed/blob/main/pretrain_gpt.py

[2021-08-03 01:04] ontocord commented on #21
Unless I am mistaken, is it just a matter of setting

[2021-08-03 01:14] ontocord commented on #21
Btw, are we trying to do something like UniLM? https://arxiv.org/pdf/1905.03197.pdf

[2021-08-03 04:33] lintangsutawika commented on #20
I have verified that each dataset can be sampled according to the given ratio. I made a dummy dataset and gave arbitrary ratio and process each batch when it's loaded.

This is a part of the script for setting up the datasets
[code]

This is the last printed output after training as finished.
[code]

[2021-08-03 04:37] lintangsutawika commented on #20
I have created a pull request for this here #36

[2021-08-03 08:38] lintangsutawika commented on #33
I can take a look. I've already read the appendix.

[2021-08-03 18:12] stas00 opened #38 "group the tensorboard logs"
It has been proposed to group the tensorboard logs, by adding a group prefix to the log-key, e.g.:
[code]

Currently proposed groups:
[code]

The question is whether to hardcode these, or have a configurable map, should different trainings want different groups?

@VictorSanh, @slippylolo, @ibeltagy

[2021-08-04 15:12] thomasw21 opened #41 "Remove json intermediary for preprocessing datasets."
@stas00 suggested we might want to remove the whole json intermediary.

https://github.com/bigscience-workshop/Megatron-DeepSpeed/pull/18#issuecomment-892147586

This issue should be used to discuss if that's a feature we want, and if so, define clearly what we want.

[2021-08-04 15:32] TevenLeScao opened #42 "Train baseline + rotary embeddings"
The simplest model, with rotary embeddings. Don't necessarily train to 300B tokens to compare.

[2021-08-04 16:30] thomasw21 commented on #21
I'm not 100% sure but essentially multiple samples are batch-up together in a single sequence and seperated by `eod` (End of document) token. So this should be slightly more tricky that doing this. But I can help.

Also we're planing to have an experiment running by the end of the week, would this work for you? If not I can help/take over.

[2021-08-04 16:43] ibeltagy opened #43 "add support for wandb monitoring"
low priority

[2021-08-04 16:53] lintangsutawika commented on #33
I think I have found where each the parameters of from each GPU is collected.
https://github.com/bigscience-workshop/Megatron-DeepSpeed/blob/7b9988146881f6eee33f69c28a92ae03e2678e42/megatron/optimizer/clip_grads.py#L48-L67

The snippet below is where the gradient norm is reduced. This would refer to ![formula](https://render.githubusercontent.com/render/math?math=\mid%20G_{B_{big}}\mid^2), yes?
ht

[2021-08-04 16:54] ontocord commented on #21
def get_ltor_masks_and_position_ids(data,
                                    eod_token,
                                    reset_position_ids,
                                    reset_attention_mask,
                                    eod_mask_loss,
                                    prefix_len=None):
    """Build masks and position id for left to right model."""

    # Extract batch size and

[2021-08-04 16:55] ontocord commented on #21
Lmk what you think of this @thomasw21 and @ibeltagy. It accounts for a batch with lots of different eod.

[2021-08-04 17:10] ibeltagy opened #44 "implement GLU activation function"
Pick and implement one of the variants of the GLU activation.

Check here for comparison and equations
https://arxiv.org/pdf/2002.05202.pdf
https://arxiv.org/pdf/2102.11972.pdf

and here for implementation of one of them
https://github.com/EleutherAI/gpt-neox/blob/main/megatron/model/activations.py

[2021-08-04 17:43] ontocord commented on #21
Question: what happens to the positional after the prefix? Wouldn't this condition the model to process only where the right handside after the prexi starts with some positon > 1? But I'm not really sure because we are using rotary position right?

[2021-08-04 18:11] ontocord commented on #41
To make it efficient and work

ds = load_dataset("oscar", ...)

def process_sample_to_indexed_dataset(batch, indices):
   ...
   - create a builder based on the indices[0]. so something like XX_shard_<indices[0]>.bin, ....idx
   - do some tokenization
   - for b in tok_sequences:
          builder.add_item(b)

ds.map(process_sample_to_indexed_dataset, with_indices=True, num_proc = <number of cores

[2021-08-04 18:20] ibeltagy commented on #24
https://github.com/bigscience-workshop/Megatron-DeepSpeed/issues/21 is implementing the mask while this one is training the model.

[2021-08-04 18:31] stas00 commented on #41
My other concern is shuffling, which is slow in datasets. We currently use `terashuf` which is amazingly fast.

But this should be optional. Since if something went wrong, it'd be much faster to "resume" if datasets aren't wiped out. `datasets` recently added helper wrappers which can report the locations of the files, so it might be easier to just do it manually.

Perhaps, we just leave things as

[2021-08-04 18:58] ibeltagy commented on #44
assigned to @jaketae

[2021-08-04 19:18] sbmaruf commented on #41
According to my experience, iterating through the `HF dataset` API becomes slow when the dataset is large.
`json` is such a fundamental way of dealing with data. I would not vote for removing it, rather extend the preprocessing of text with HF-dataset APIs.
Hf-dataset has a lot of advantages though especially it handles caching and sharding internally. But still caching is a sequential process tha

[2021-08-04 19:32] sbmaruf commented on #26
If we have compute power outside on JZ, I can take responsibility for this one.
But 20k was credit is 625 hours (~26 days) of AWS  single `p4d24x.large` machine which is not much compared to what Teven is using.

[2021-08-04 19:37] slippylolo commented on #33
Hmm, I could be wrong, but this `all_reduce` only acts across **model** parallelism. My understanding of Appendix A.1. is that this should be done across **data** parallelism instead (so actually at a higher-level than here).

Let me dig through the code a bit to see if I can find a place where this can be accessed.

[2021-08-04 19:40] sbmaruf commented on #22
@ibeltagy We should also fill up [this](https://github.com/huggingface/lm-evaluation-harness) chart each time we train a new model. This is relatively simple to perform.
If you don't want to do the full list, we can also consider a subset of them.
https://blog.eleuther.ai/gpt3-model-sizes/

[2021-08-04 19:49] sbmaruf commented on #21
Here's the details of all the architectures that `t5` model considers, https://docs.google.com/document/d/110tlidAcpiNteKnA27tR5KPS_VahNqYKqCeJlu1MWww/edit#
See `Architecture config mapping and Analysis on T5 Table 2`.

@ontocord @thomasw21  If it helps, here's the entry point of the prefix-lm [implementation](https://github.com/tensorflow/mesh/blob/master/mesh_tensorflow/transformer/transformer.p

[2021-08-04 20:03] ontocord commented on #41
I've worked with both HF-dataset and the current impl of JSONL + indexed_dataset.  In my project for the data-tooling, I'm trying to extend dataset to be able to work with things ike indexed_dataset, but that is still WIP. I vote for leaving good enough alone unless we have a compeling reason to change - like will it be an order of magnitude faster, or will it give us functionality we don't have.

[2021-08-04 20:33] ontocord commented on #21
I posted this in our slack channel and reposting here so we have it in this thread:

I saw this in the code refering some sort of upper triangle optimization in fused_softmax.py. I couldn't figure out what the code actually does since it uses an external package (scaled_upper_triang_masked_softmax_cuda), but if it assumes a casual masking strategy, wouldn't this be messed up if we use a prefix whi

[2021-08-04 20:35] stas00 commented on #33
I think we currently don't use this, but ZeRO-DP from DeepSpeed (stage 1). I haven't verified which specific code paths it takes. It might help to step through with the debugger.

We only use TP from Megatron, but PP and DP from Deepspeed.

I probably should update the examples on how to include deepspeed zero-1. I will do that shortly.

[2021-08-04 21:00] stas00 commented on #33
Here are the instructions added: https://github.com/bigscience-workshop/Megatron-DeepSpeed#deepspeed-pp-and-zero-dp

[2021-08-04 23:31] thomasw21 commented on #41
Hum I'd say disk space is okay in JZ, since everything can move to scratch if need be. I'm also sure we can find a way to not use `.map` but my code instead. What I mean is essentially the process that loads all data in a queue, can instead of reading a file, read that dataset. So it wouldn't be that much slower compared to `jsonify` + `preprocess`.

My argument would usually be, do we really need

[2021-08-04 23:31] #41 closed

[2021-08-05 00:11] thomasw21 commented on #21
@ontocord that's a custom cuda kernel, it's suposed to do the same thing as the code just below it. Basically you can write your own to have improved performance. You can find the code in `*.cu` files if you're interested. In our case let's not do this as this might just take a lot of time to do so, ie let's force everything to use vanilla pytorch operations by having a default argument `--custom-

[2021-08-05 00:21] thomasw21 opened #49 "DeBERTa-like attention mechanism"
In this issue, we discuss how viable/interesting it might be to implement DeBERTa like attention mechanism:

https://arxiv.org/abs/2006.03654

Things to take in account:
 - performance enhancements: Check with HF pretrained model to see first?
 - implementation cost: How much would someone need to spend on implementing that feature?
 - implementation feasability: It might not work well with Megatr

[2021-08-05 01:18] ontocord commented on #21
Yes please @thomasw21 take over. I'm happy to help however I can.

[2021-08-05 02:02] ontocord commented on #21
@sbmaruf thanks for the links. I looked over the google doc and it looks like you all wanted to do some translation with mt5? I couldn't figure out from the original t5 code but admittedly I didn't spend long on it. Check out this comment though, which is interesting. https://github.com/tensorflow/mesh/blob/a4fb329e5a374e21e893906b178584baf237a9a6/mesh_tensorflow/transformer/transformer.py#L1027

[2021-08-05 04:45] stas00 commented on #41
And then there was Adam with yet another take on pre-processing:
https://github.com/bigscience-workshop/Megatron-DeepSpeed/pull/48

[2021-08-05 12:56] ontocord commented on #21
All, I added loss_on_targets_only parameter in the code above to mirror T5. This is set to true and defaults to not computing loss for the prefix portion.

[2021-08-05 12:59] ontocord commented on #21
Also, @thomasw21 what do you think about the original way the function masks loss_mask. It assumes the whole sequence is filled in and that it's `Seq1 <eod> Seq2 <eod>... `. But if there is any junk token after any of the <eod>, it should mask the loss there too no? In particular, after the last `<eod>`?

[2021-08-05 13:10] thomasw21 commented on #21
What's a junk token? Maybe let's discuss during the meeting and post all the notes here afterwards?

[2021-08-05 13:21] ontocord commented on #21
If all there are sequences in a batch that doesn't fill up the whole batch, i assume there's some token after the last eod, like <unk>. Do we really want to train on those tokens?

[2021-08-05 13:38] lintangsutawika commented on #33
So by using option `--DDP-impl torch` we can acquire the gradients from `Megatron-DeepSpeed/megatron/model/distributed.py` and can be micro batch gradient norm and the global batch gradient norm can be calculated each iteration.

I feel like even if we use Pipeline Parallelism, the difference would just be that calculating the global batch gradient norm can only be done during the backpropagation

[2021-08-05 15:52] ontocord commented on #21
This issue is being addressed in this PR: https://github.com/bigscience-workshop/Megatron-DeepSpeed/pull/52

[2021-08-05 15:52] ontocord commented on #21
This issue is being addressed in this PR: https://github.com/bigscience-workshop/Megatron-DeepSpeed/pull/52

[2021-08-05 18:11] ontocord commented on #35
Closed by https://github.com/bigscience-workshop/Megatron-DeepSpeed/pull/37

[2021-08-05 18:11] #35 closed

[2021-08-06 05:48] jaketae opened #53 "Add tests & setup CI"
As an extension of discussions from #47, start adding basic unit tests to ensure that new additions and implementations (e.g. GLU variants, prefix-LM masking schemes, etc) work as intended. Possibly setup CI pipelines to ensure that tests pass on each push to `main`. This is likely mid to low priority.

[2021-08-06 07:35] slippylolo commented on #33
I don't think this is an acceptable solution, as ZeRO-DP comes with some pretty nice savings (plus we wouldn't want to maintain two different data parallelism scheme just for gradient noise scale measurement.

I haven't had time to look into it yet, but there must be an easy way to acquire the local and global batch gradients in ZeRO-DP.

[2021-08-06 14:50] ontocord commented on #24
I think we are doing pretraining as part of impelmenting the prefix-lm masking now, right @thomasw21? So maybe we can close this issue and change https://github.com/bigscience-workshop/Megatron-DeepSpeed/issues/21 to "Implement prefix-lm as in the T5 paper & train prefix-lm model"

[2021-08-07 09:30] slippylolo opened #54 "Implement the ML Flow experiment tracker"
**Motivation**. As @sashavor suggested, the carbon footprint working group needs an experiment tracker to properly follow all runs being done. An experiment tracker could also be more broadly interesting to centralise in one place all experiments being done.

**Proposed solution**. Following a discussion with @thomwolf, the carbon WG has identified [**MLFlow**](https://mlflow.org/) as a promising

[2021-08-07 17:05] stas00 commented on #54
Here is the current setup:
- GPU instances have no access to Internet.
- There is no crontab or an option to run a daemon on JZ.
- Currently we gather the tensorboard logs via a shared fs and then push them to the hub periodically via a slurm job from a special partition which has Internet.

[2021-08-08 12:51] jaketae commented on #44
Closed via #47, cc @ibeltagy

[2021-08-08 12:51] #44 closed

[2021-08-08 23:22] ontocord commented on #54
Is it that the GPU instances can download stuff from the internet but can't expose a port. We could use ngrok if that is permitted.
https://stackoverflow.com/questions/61615818/setting-up-mlflow-on-google-colab
You could run mlflow while your job is running in the background, and then after you are done, you can transfer the logs (which I beleive can be sqlite file) to another server for further a

[2021-08-08 23:35] ontocord commented on #43
See https://github.com/bigscience-workshop/Megatron-DeepSpeed/issues/54

[2021-08-09 04:56] stas00 commented on #54
There is no internet on GPU instances, period. The only way to communication from those to the world is via the shared filesystem, which can then be picked up by a slurm process on a special partition that has no GPUs but which can broadcast to the world - which is what we do with tensorboard logs on an hourly basis.

If you have other logs like tensorboard logs, we can easily send those files to

[2021-08-09 12:53] sashavor commented on #54
MLFlow does generate Tensorboard logs, so that's definitely possible.

We had spoken with @thomwolf about setting up a server instance that we can share all the logs to, but I guess if there's zero internet access, that wouldn't be possible.

Maybe we can get them to open up a single port specifically for this purpose?

[2021-08-09 14:40] lintangsutawika commented on #33
Yes, I agree.

In that case, I think we can extract the gradients around here. ![formula](https://render.githubusercontent.com/render/math?math=%5Cmid%20G_%7BB_%7Bsmall%7D%7D%5Cmid%5E2) would be the gradients obtained from each micro-batch and ![formula](https://render.githubusercontent.com/render/math?math=%5Cmid%20G_%7BB_%7Bbig%7D%7D%5Cmid%5E2) would be the gradient after averaging all accumulat

[2021-08-09 17:06] stas00 commented on #54
It's very unlikely, but there is no harm in asking. I will ask.

[2021-08-09 17:33] ontocord commented on #54
I think the copying of the logs over (maybe every 15 minutes?) to another external server might be a good solution.

[2021-08-09 20:46] stas00 opened #56 "[feature request] Implement sample-ids-to-text extractor"
If you have been following the training we got a few spikes in lm loss and it'd be great to look at the input data on when this happened. We suspect that input data was either garbled or in a very different language.

--------------

## Spec

So we need to write a script that can receive a range of sample ids and generate the output in format:

[code]

Possible invocation syntax:
[code]

@Mohammad

[2021-08-10 01:36] ibeltagy commented on #43
Closed in favor of https://github.com/bigscience-workshop/Megatron-DeepSpeed/issues/54

[2021-08-10 01:36] #43 closed

[2021-08-10 02:06] stas00 opened #57 "recovering from loss spikes strategies"
After having a 3->8->3 spike in the loss value a few days ago, which luckily recovered after a few hours of training, we want to discuss possible ready to use strategies that we can quickly deploy should the spike not recover.

Notes from the slack so far:

Iz Beltagy:

Stas:

Ryan Teehan:

Iz Beltagy:

@ibeltagy

[2021-08-10 17:44] stas00 commented on #54
The answer by the JZ admin was no.

[2021-08-10 17:45] sashavor commented on #54
OK, so we can go with an option to save logs locally and copy them over
periodically?

On Tue, Aug 10, 2021 at 1:44 PM Stas Bekman ***@***.***>
wrote:

--
Sasha Luccioni, PhD
Postdoctoral Researcher (Mila, Université de Montréal)
Chercheure postdoctorale (Mila, Université de Montréal)
https://www.sashaluccioni.com/
                [image: Image result for universite de montreal logo]

[2021-08-10 19:34] stas00 commented on #54
Absolutely.

Just make a PR that implements what's needed:
1. with an CLI option to activate it
2. updated dependencies file

and then we will create a target repo on the hub to sync data to.

[2021-08-11 17:21] thomasw21 commented on #42
Rotary embeddings is running similar to tr3:
 - scripts are here: https://github.com/bigscience-workshop/bigscience/pull/2
 - job_id: `708913`
 - user: `uty16tp`

[2021-08-12 02:42] hyunwoongko opened #61 "unit test of fused softmax kernel"
https://github.com/NVIDIA/Megatron-LM/issues/132

I've been looking at the megatron code nowadays. When using the softmax kernel used in megatron, it was observed that the results were different from the original torch softmax. How about doing a unit test on this kernel?

[2021-08-12 08:10] thomasw21 commented on #61
That'd be awesome! @stas00 is still currently setting up the UT. But feel free to contribute unit tests!

Concerning your issue with discrepancy between fused vs not fused, I'm wondering if it's not linked to `std::numeric_limits<acc_t>::infinity()` vs `-10000`

[2021-08-12 08:56] hyunwoongko commented on #61
-10000 is not the value I set, it's the default value set by the Megatron LM. Also, even if the mask is changed from -10000 to -infinity, there is no padding in the encoder model (bert) setting, so no masking is applied.

[2021-08-12 08:57] hyunwoongko commented on #61
My guess is there is something wrong with my test code or something with Megatron's kernel code.
But I've looked all over the CUDA kernel code, and I can't find any problems with my test code.

[2021-08-12 09:00] hyunwoongko commented on #61
Fused Softmax kernels have very limited operating conditions. The batch_per_block (warps_per_block * batches_per_warp) should be divided by the length of the query, and the length of the key should be divided by 4. There are many other conditions. So in general, this kernel will not work. However, if certain conditions are met, this kernel will work.

[2021-08-13 05:32] stas00 commented on #61
It's done: https://github.com/bigscience-workshop/Megatron-DeepSpeed/pull/64

Feel free to add new tests.

[2021-08-17 18:16] adammoody opened #67 "Calling IndexedDatasetBuilder directly with a best_fit datatype fails"
I don't know whether this is intended to work or not, but I found the following program:
[code]
leads to an error like:
[code]
This shows up because ``best_fitting_dtype`` will return ``numpy.uint16`` for small vocabs, but that particular type is missing from the ``element_sizes`` table.

Should something like this work?

If so, it seems like either the ``best_fitting_dtype`` function should retur

[2021-08-17 22:59] shoeybi commented on #10
[9189c4e](https://github.com/bigscience-workshop/Megatron-DeepSpeed/issues/10#:~:text=Bug%20fixes%3A-,9189c4e,-fix%20bug%20when) and [9e75429](https://github.com/bigscience-workshop/Megatron-DeepSpeed/issues/10#:~:text=in%20account%20doc_ids-,9e75429,-Fix%20Tensorboard%20logging) have been fixed. Will take a look at the rest later. Thank you!

[2021-08-18 05:24] hyunwoongko commented on #61
https://github.com/NVIDIA/Megatron-LM/commit/2387ce01c91e5ddcb91d86a335d993e0a664b9dd

There was a problem with the kernel. This has been fixed and merged into the main branch of megatron lm.

[2021-08-18 05:25] #61 closed

[2021-08-18 09:42] thomasw21 commented on #67
Good catch!

To automatically generate all the size for supported dtype we could have something like:

[code]

Notice also that `np.float` is supposed to be 8, as it's an alias for python `float` which is a C `double` ... Why that is I don't know.

[2021-08-20 19:23] stas00 opened #70 "[testing] data size / downloads - test speed and repo bloat"
Let's discuss which data is used in the test suite. And after the discussion turn into guidelines for test writers.

Here is a very rough start:

* We want to have the basic test suite run really fast. I have started curating tiny datasets and tokenizers sufficient for testing here:
https://github.com/bigscience-workshop/Megatron-DeepSpeed/tree/main/tests/data/gpt2
So the normal tests ideally shou

[2021-08-21 09:46] thomasw21 commented on #70
From a data processing perspective:
 - everything should run rather fast so whatever the size we can handle. Ideally we would like to be able to test out multinode, though the new distributed script will work in multiprocessing setup @adammoody . I think testing on small dataset is the way to go, I don't think we'd want to guarantee speed right now, and small dataset are enough to notice bugs IMO.

[2021-08-21 15:46] stas00 commented on #70
The CI won't have multi-node and I think neither any of us, and JZ can't give us multi-node in real time to support a test suite, so perhaps there can be a slurm script that can be run manually and which tests that multi-node pre-processing works? It can be written to fail if some conditions don't get fulfilled.

Alternatively, one first `sallocs` say a 2-node allocation and then runs the test sui

[2021-08-22 20:52] stas00 opened #73 "eliminate `megatron/model/__init__.py`"
`megatron/model/__init__.py` seem to lead to circular reports quite often, when importing from other megatron libraries, so it's probably the best idea to remove it, rather than continually working around it.

This will require adapting all these to import from the corresponding module each of the imported symbols reside in:
[code]

This is a very basic python task and requires no knowledge of Meg

[2021-08-24 23:00] thomasw21 commented on #42
Update: We've trying to fix some instabilities and re-run all experiments with:
 - batch size warmup.
 - increase learning rate.

 cc @TevenLeScao

[2021-08-31 18:13] sashavor opened #87 "Set up a basic MLflow setup"
Replicate all the tensorboard logging in Meg-DS, plus logging hyperparams of choice.
So on the code level:
repeat tensorboard 1:1 but log using mlflow api
find new places where to log new things (e.g. hyperparams)

[2021-09-01 10:05] JetRunner commented on #87
The server's at http://deplo-mlflo-1s4xwzhh8tic4-97cf518635d8c72d.elb.us-east-2.amazonaws.com/

[2021-09-01 19:45] adammoody opened #91 "Distributed terashuf"
I don't know how much time I will have to polish this up, but I have a prototype MPI-enabled "terashuf".  This uses an algorithm similar to terashuf, where contiguous records from the source file are shuffled in segments, and then one randomly picks leading records from the shuffled segments to put together the final shuffled file.

This prototype currently stores the shuffled segments in memory (

[2021-09-02 21:02] adammoody commented on #91
Moved this to PR https://github.com/bigscience-workshop/Megatron-DeepSpeed/pull/92

[2021-09-02 21:02] #91 closed

[2021-09-09 00:44] stas00 opened #93 "`PretrainedFromHF` crashes on 1 gpu"
When using `PretrainedFromHF` it seems to require at least 2 gpus and specifically TP=2, otherwise with 1 gpu it crashes

To reproduce:

[code]

It crashes w/ or w/o deepspeed enabled, the above script is w/o deepspeed.

The log:
[code]

It works if I use 2 gpus and TP=2.

Originally discovered by @tjruwase and I was able to reproduce it too.

We were trying to use the 350m checkpoint you gave us

[2021-09-11 00:47] adammoody opened #95 "How to load a tensor+pipeline parallel checkpoint for inference tasks?"
Following the training script here as a template:

https://github.com/bigscience-workshop/bigscience/blob/master/train/tr1-13B-base/tr1-13B-round1.slurm

I've trained some models using 2-way tensor parallelism and 4-way pipeline parallelism, which produces a number of checkpoints in directories like "global_step26000".

I'm now trying to use one of those trained checkpoints to do inference.  In pa

[2021-09-13 03:12] hadyelsahar opened #96 "Cannot import C++ compiled "helpers""
I am having errors importing the compiled C++ `helpers.cpp` into python [in gpt_dataset.py](https://github.com/bigscience-workshop/Megatron-DeepSpeed/blob/main/megatron/data/gpt_dataset.py#L270-L276)
[code]

Leading to the following error
[code]

**update:**
I managed to isolate the problem by compiling the helpers.cpp separately using `gcc  v9.3.1`. Compilation works but loading `import helpers`

[2021-09-14 00:24] hadyelsahar commented on #96
@stas00 @TevenLeScao I would appreciate some help if you have time.

[2021-09-14 01:16] stas00 commented on #96
yes, we have seen this before. Let me find the thread.

[2021-09-14 01:18] stas00 commented on #96
https://huggingface.slack.com/archives/C01NHER1JLS/p1626913924220500

[2021-09-14 01:22] stas00 commented on #96
To summarize for those who have no access to that slack thread: `python pretrain_gpt.py` internally calls `make` via `compile_helpers()` - and normally nothing needs to be done manually.

but if you really have to do it manually:
[code]

[2021-09-14 02:28] hadyelsahar commented on #96
I have tried to make the file myself but in vain. but I finally found the fix 🎉

My issue was that `python3-config` in the make file is not exported as a variable.

[code]

## Fix
- `pip install python-config`
- change `python3-config` to `python-config` in the make file

if the make works it should output `helper.so` rather than `helper` which is the case here:

[code]

Thanks for the help!

[2021-09-14 02:36] #96 closed

[2021-09-14 02:41] stas00 commented on #96
I didn't quite follow it - why do you need to rename it? Do you not have:
[code]
if not perhaps adding an assert in `Makefile` to ensure it's there?

Also the result is typically `helpers.cpython-38-x86_64-linux-gnu.so` and not `helper.so`, but perhaps on your platform is different.

Check the output of:
[code]

[2021-09-14 02:53] hadyelsahar commented on #96
Yes `python3-config` it is not in the requirements.txt  (shall I send a PR ?) and I could only add find `pip install python-config` but not `python3-config`

[code]

[2021-09-14 03:17] stas00 commented on #96
Looks like a really old package. Would you like to research why your env doesn't have a pre-installed `python3-config`. I haven't encountered such problem before, so I can't tell if your python package is borked. I'd imagine that `python3-config` should come along with the core python package.

[2021-09-14 03:19] stas00 commented on #96
Looks like may be `python-dev` is missing?

[2021-09-14 03:25] stas00 commented on #96
So we can't put anything extra in the requirements, but we can add a check to `Makefile`

For example this solution looks good: https://stackoverflow.com/a/34756868/9201239

[2021-09-14 14:28] hadyelsahar commented on #96
Yes, sorry my mistake `python-dev` is installed by default in my env.

I think issue was the discripancy between conda and the Python installed on our servers in naming the env variable   `python3-config` vs `python-config`.  This isn't an issue for example on my local laptop.

more info (server)
[code]

local machine
[code]

+1 for adding a check on that in the make file, or at least a less silen

[2021-09-14 21:21] stas00 commented on #96
On the server: did you already have `python-config` or was it installed via https://github.com/KonishchevDmitry/python-config?

If the latter, then shouldn't the server admins be notified that some software is missing? In this case the dev package.

[2021-09-14 22:19] stas00 commented on #96
Please try this PR: https://github.com/bigscience-workshop/Megatron-DeepSpeed/pull/98

[2021-09-15 00:16] TevenLeScao opened #99 "Double counts in parameter count"
Currently, parameter counts in `utils.get_parameters_in_billions` are inaccurate when PP > 1. Tied variables, in particular embedding layers, exist in several copies in the first and last PP stage, which causes double counts. For now the codebase only uses the count without embedding layers which is accurate, but it would be good for the count with embedding layers to also function, mostly for ope

[2021-09-15 09:38] RomanCast commented on #95
Hey, I am not sure about tensor and pipeline parallelism as the models I have used were small enough to be duplicated and trained on 2 GPUs only, but the scripts [here ](https://github.com/bigscience-workshop/Megatron-DeepSpeed/blob/main/tasks/main.py) worked fine for me, with a few modifications. I re-used the Wikitext103 evaluation task and modified it a bit to parallelize the text tokenization.

[2021-09-15 09:58] RomanCast opened #100 "Import issues when using evaluation scripts : `module 'megatron' has no attribute 'model'`"
Hello everyone,

There are several scripts that can be used for evaluation, that can be found here :

https://github.com/bigscience-workshop/Megatron-DeepSpeed/tree/main/tasks

However, running these scripts raises the following error :

[code]

This error does not appear when running `pretrain_gpt.py`.

@thomasw21 found a solution, which is to add `from . import model` in
https://github.com/bigsc

[2021-09-15 18:42] hadyelsahar commented on #96
wonderful!

[code]

[2021-09-15 18:48] stas00 commented on #96
Thank you for the confirmation.

But can you see that exception when using Megatron normally?

[2021-09-15 19:47] hadyelsahar commented on #96
here's what i get
[code]

[2021-09-15 19:49] stas00 commented on #96
That is good, right?

[2021-09-15 19:55] hadyelsahar commented on #96
Yes exactly, this is nice, better than the previous misleading error `import helpers` thanks a lot for doing this.

[2021-09-16 16:08] #21 closed

[2021-09-18 06:14] adammoody commented on #95
Thanks, @RomanCast .

I managed to hack up a ``deepspeed.initialize`` engine to do my inference work for now.  It's quite hacky, and it requires one to allocate more nodes than really necessary.  I'll post a link to that script in case others are interested.

I still haven't found the magic incantation to get a ``deepspeed.init_inference`` engine loading a checkpoint from a pipelined model.  I'll

[2021-09-20 18:35] stas00 commented on #99
@thomasw21 also shared this: https://github.com/microsoft/DeepSpeed/blob/c7f3bc51c27884ad80dcafe4aa60f070c1dfa26e/deepspeed/runtime/pipe/engine.py#L117-L126 which seems to be related to this issue.

[2021-09-20 22:02] TevenLeScao commented on #99
Ah yes, saw it on the other issue then forgot about it - I can take a look at the end of this week.

[2021-09-21 09:51] jtboing commented on #73
Hello. I would like to take this issue please.

[2021-09-21 19:55] stas00 commented on #73
Yes, please and thank you, @jtboing!

[2021-09-22 05:41] sbmaruf commented on #96
Just to add a note, I recently try to reproduce your error but could not.
May be it's related to some version issues. I was using python `3.8.12 [GCC 9.4.0]`, torch `1.9.1+cu102`

[2021-09-22 06:16] sbmaruf commented on #93
Not sure what is the issue,

I could run this following command without any problem,

[code]

Can you make sure that your dataset `data/meg-gpt2_oscar-combined_text_document` is tokenized with  `t5-small` ?

@stas00

[2021-09-22 10:24] hadyelsahar commented on #96
It is related to a missing python3-config , If you are using a conda environment your virtual env will have it automatically as a environment variable. It my case it wasn't it should have to do something with the python installation.

[2021-09-22 17:18] stas00 commented on #93
Thank you, @sbmaruf

Indeed the dataset used for that experiment wasn't made with t5. Yet it works just fine with TP=2 and higher, which is super-odd.

Any suggestions at detection of such mismatches? Should we somehow extend the dataset to mark which tokenizer it was created with and assert if a mismatch was detected?

[2021-09-22 21:21] ibeltagy opened #114 "Add checks to confirm that the checkpoint conversion script works perfectly correct"
We now have a script that convert megatron-deepspeed checkpoints to HF-transformers checkpoints.
Project is [here](https://github.com/bigscience-workshop/Megatron-DeepSpeed/tree/main/tools/convert_checkpoint) and the script is [here](https://github.com/bigscience-workshop/Megatron-DeepSpeed/blob/main/tools/convert_checkpoint/deepspeed_to_transformers.py).
However, the script doesn't have unit test

[2021-09-22 21:37] ibeltagy commented on #114
[Here](https://huggingface.co/bigscience/gpt2-350m-en/tree/megatron-deepspeed)'s a megatron-deepspeed checkpoint and [here](https://huggingface.co/bigscience/gpt2-350m-en/tree/main)'s the corresponding HF-transformer checkpoint. We just need to verify that these two are the same.

[2021-09-23 14:31] StellaAthena commented on #114
git clone https://huggingface.co/bigscience/gpt2-350m-en/tree/megatron-deepspeed is failing. It says repo not found. I can download the HF version easily.

[2021-09-23 15:01] ibeltagy commented on #114
@stas00?

[2021-09-23 17:36] stas00 commented on #114
The correct syntax is:
[code]

[2021-09-26 15:43] jtboing commented on #73
I've made the pull request #117 with the required changes. Please notify me if any further changes are required. Thanks.

[2021-09-28 06:29] jaketae commented on #114
@StellaAthena Have you made progress with this issue? If not, I'd like to take a jab at it.

@stas00 Would the unit test run with the CI? I'm wondering if/whether the test script would have to download the Megatron checkpoints manually on each run.

[2021-09-28 13:43] StellaAthena commented on #114
I have not been able to get to this, ICLR stuff has been getting in the way. You’re welcome to take it over.

[2021-09-28 15:44] stas00 commented on #114
The AWS-based CI is currently borked, need to start from scratch and build on GCS, so we do manual `make test` for now.

Re your question - there is no need to use on a huge checkpoint because both of the download and it'd be much more difficult to compare. It should be easy to create a tiny checkpoint of a few mbs on the fly and then convert it and then compare.

Let me know if you run into diffi

[2021-09-28 15:52] thomasw21 commented on #114
Reposting from slack as this seems relevant for this:

Typically the number of params is the same, just the way we use them is different. Is there a preLN gpt in transformers?

[2021-09-29 18:05] ibeltagy opened #119 "Create AWS image with our tools and codebase"
to make it easy for new users to use our setup

[2021-09-29 18:27] stas00 commented on #119
Could you be a bit more specific, Iz? To run Meg-DS training?

I have the more or less ready AWS image I created for the CI - but I'm definitely not a AWS expert.

Perhaps it'd be better to create a docker image that already includes everything including torch and cuda, etc.?

[2021-09-29 18:44] ibeltagy commented on #119
Yes, to run Meg-DS training. Basically doing the steps listed in readme here https://github.com/bigscience-workshop/Megatron-DeepSpeed for them so that they only need to run the `pretrain_*` script.

[2021-09-29 19:03] stas00 commented on #119
The only problem with this pre-made image is that our components are in flax - e.g. we get fixes in the deepspeed repo, Meg-DS gets changed too and so are transformers if we start using those.

So if you look here, we dynamically install the latest repos:
https://github.com/bigscience-workshop/Megatron-DeepSpeed/blob/c839a8aa30731f71b3738d56009be9668508e366/.github/workflows/main.yml#L109-L113

Bu

[2021-09-29 19:05] stas00 commented on #119
@philschmid, could you please help me to make this image we made for Megatron-Deepspeed CI somehow available to the wider group? Basically anybody at BigScience. I'm not sure if we have to do something special there, I'm an AWS newbie.

Thank you.

[2021-09-30 11:40] philschmid commented on #119
We could create AWS AMI and make it publicly available. This could then be used on EC2 by others.

[2021-09-30 16:24] stas00 commented on #119
That would be fantastic! Thank you, Philipp!

[2021-09-30 22:47] ibeltagy commented on #119
@jaketae can be the first user of the AMI

[2021-10-01 00:34] #56 closed

[2021-10-01 16:24] stas00 commented on #119
@ibeltagy, is this going to be used on EC2 on user's personal account or some HF account or else?

[2021-10-04 00:46] stas00 opened #123 "Need model size dumped at init"
We need to have a diagnostic model size dumped during the framework init. We currently get a report per rank and not the total.

[code]

Later on ZeRO engine does dump the right thing:
[code]

But ideally we just want a print like:

[code]

Thanks.

[2021-10-04 00:50] stas00 opened #124 "adding consistency calculations/checks at init time"
Stella pointed out to how they do consistency calculations/checks with NeoX:
https://github.com/EleutherAI/gpt-neox/blob/main/megatron/neox_arguments/arguments.py

It'd be good for someone to study what they did over the base Megatron-LM and replicate anything that can help our work, since some good checks can save days of running a model under a wrong setup thinking it's doing something else.

I

[2021-10-04 16:49] thomasw21 commented on #42
Closing as we suspect that previous failure with rotary embeddings were linked to warmup

[2021-10-04 16:49] #42 closed

[2021-10-05 07:03] slippylolo opened #125 "Plot scaling laws of our baseline models"
For our three baselines on different datasets (OSCAR, C4, The Pile), we would like to plot scaling laws and retrieve their coefficients. Specifically, we are looking to reproduce Figure 1 of [Scaling Laws for Neural Language Models](https://arxiv.org/abs/2001.08361 ).

The TensorBoard data for the baseline runs can be retrieved on the [Big Science space](https://huggingface.co/bigscience) on Huggi

[2021-10-05 17:30] jtboing commented on #123
I think I can try and take this issue. However, I have to know what do you do get the diagnostics dump?

[2021-10-05 19:12] stas00 commented on #123
Thank you for offering to work on this, @jtboing

We, the BS group, haven't added anything yet to this functionality, so it's totally up to you how you do - please have a look at the various info logged during Meg-DS startup and add it there. Probably the best place to do it is where the model is created since you can then easily query the params:

here is my cheatsheet:

[code]

[2021-10-06 00:19] stas00 opened #126 "auto-add tokenizer files to the converted model"
our conversion to HF script:
https://github.com/bigscience-workshop/Megatron-DeepSpeed/blob/main/tools/convert_checkpoint/deepspeed_to_transformers.py
doesn't do anything about the tokenizer - until now we added the right tokenizer files manually, but this doesn't work at scale.

So this ticket is to extend the above script at the point of saving the checkpoint to lookup which tokenizer is used ba

[2021-10-06 01:05] stas00 opened #127 "update converted models to include tokenizer files"
Update released model files to include correct tokenizer files (t5-small or gpt2):

HUB:
- [ ] https://huggingface.co/bigscience/gpt2-13b-en
- [ ] https://huggingface.co/bigscience/gpt2-1b3-en
- [ ] https://huggingface.co/bigscience/gpt2-350m-en
- [ ] https://huggingface.co/bigscience/tr3e-1B3-c4-checkpoints
- [ ] https://huggingface.co/bigscience/tr3d-1B3-oscar-checkpoints
- [ ] https://huggingfa

[2021-10-06 03:34] stas00 commented on #119
@ibeltagy?

[2021-10-06 20:11] srulikbd commented on #125
so just to make sure-the loss is taken from the "lm-loss-validation/lm loss validation"?
from the last step? or from the global minimum loss?

[2021-10-08 03:59] jaketae opened #129 "Consistency in code convention"
As discussed in #128, maintain code style consistency by setting up some basic formatters.

- `Makefile`
- `pyproject.toml`
- `setup.cfg`

Benchmark HF transformers as point of reference.

[2021-10-11 14:18] hyunwoongko opened #136 "is fused layernorm really better?"
https://github.com/pytorch/pytorch/commit/8b87f9a5107e8b3c4f87d5297af698bb55838d81#diff-f12c726e3e8cd2b4768f8984fef27059

I think we don't need to use apex fused layernorm anymore.
torch layernorm is better. what do you think about this?

cc. @stas00 @thomasw21

[2021-10-11 17:21] ibeltagy opened #137 "Add Megatron support for the EleutherAI Evaluation Harness"
Add the ability to run the EleutherAI Evaluation Harness on Megatron checkpoints. Right now we are relying on converting Megatron checkpoints to Hugginface checkpoints which is an error-prone process. We also have to use Megatron anyways to run the 200B model.

Implementation details:
You will use this HF gpt2 model implementation [here](https://github.com/EleutherAI/lm-evaluation-harness/blob/mas

[2021-10-11 19:30] StellaAthena commented on #137
@ibeltagy Ooops, looks like a misclicked. Thanks

[2021-10-12 20:59] stas00 commented on #136
I'd say it's best to ask upstream at Meg-LM level, as surely they have benchmarked their code.

Perhaps @jaredcasper could answer your question.

[2021-10-13 20:52] stas00 commented on #136
This is not what I meant. I meant to first ask the original authors why they did it this way. Meg-LM is a highly optimizer library, so often they have a good reason for why they are doing something in a certain way.

It'd be good for us to inquire before rushing to change things.

Specifically to this line of inquiry it appears that they don't use apex's fused layernorm, but a modified version of

[2021-10-13 21:31] jaredcasper commented on #136
Just to clarify, I believe the only difference between the fused layer norm in Megatron's code vs APEX is in the types, but that could lead to pretty different performance depending on the types used in the benchmark if one required a separate cast operation.

We haven't benchmarked vs upstream torch in a while, it'd be interesting to know if theirs is faster. Apex/megatron was faster when we firs

[2021-10-14 01:49] hyunwoongko commented on #136
Yes. I think the only difference of Apex Layernorm and megatron's fused layernorm is type casting about bfloat16.
I'll test bfloat16 with torch.nn.Layernorm and check speed in bfloat16 comparison with Megatron Layernorm. Thanks.

[2021-10-14 02:37] stas00 commented on #136
And let's start including the actual benchmark code so that:
1. others can validate it - it's very easy to make subtle mistakes when writing benchmarks
2. we can re-run these in the future
3. it's easier to extend to include more comparatives rather than write from scratch

I know in my post I shared the outcome https://github.com/huggingface/transformers/issues/9377 but not the benchmark - will t

[2021-10-16 03:49] stas00 opened #138 "clone HF's `GPT2` to create `GPTMeg` with a few tiny changes."
As can be seen from https://github.com/bigscience-workshop/Megatron-DeepSpeed/pull/121 we have a divergence between Meg and HF GPT2, while using the same weights under fp16.

So the proposed solution to enable users to use BigScience-pretrained models is to create a new architecture, which would be an identical clone of HF's GPT2, but with some changes.

Here are 3 changes:

[code]

Here is how we

[2021-10-16 03:52] stas00 commented on #138
If all source files could be easily identified this perhaps the cloning could be done in a few perl one liners. Here is a very rough outline:

1. find the pertinent source files grep -Irl GPT2 .
2. rename files/dirs while copying s/gpt2/gpt_meg/
3. rename internals to s/GPT2/GPTMeg/g

The hard to automate part is the index files as they is only one of each

[2021-10-16 04:20] sIncerass commented on #138
thanks for the write-up. I can work on this.

[2021-10-18 04:09] stas00 opened #142 "[ci] failing with 4 gpus, works with 2"
Need to figure out why CI fails with 4 gpus, but works fine with 2.

I set it for now to 2 gpus, until we sort this out. https://github.com/bigscience-workshop/Megatron-DeepSpeed/pull/140/commits/391930bed65bc8c206823f93b45ac4955f263f93
[code]

the first one hangs on startup, the others fail with:
[code]

[2021-10-19 01:46] siddk opened #145 "Version Lock `requirements.txt`"
Might be good to either specify versions, or ideally, switch to a conda environment for this repo. Critically, the base requirements for Megatron-DeepSpeed in `requirements.txt` just require "torch" whereas you actually need torch > 1.7.0, notably with CUDA 11.1 or higher for this repo to actually work!

[2021-10-19 03:54] jaketae commented on #145
I remember discussing this with @stas00 in #46 some time ago. Linking the thread in case it becomes relevant!

[2021-10-19 04:07] siddk commented on #145
My bad on CUDA-10 - I need 11.1 to build the triton dependency for DeepSpeed (I was using the current instructions in the README, which should probably be updated).

1.7 is the first PyTorch version supporting Ampere cards + TF32; for JZ, since we're on V100s probably not an issue, but for newer cards (3XXXs, A100s) this is pretty nice for performance.

Also with 1.9, better layernorm kernels, fas

[2021-10-19 04:19] stas00 commented on #145
Both of these aren't project requirements but user's - each user knows what components they need to work on their card. We shouldn't set project requirements to the highest requirements of the user using the latest hardware.

e.g. I had to use pytorch-nightly for all of winter and some spring before Amphere was supported, but that was my need and not of others.

--------------------

I don't think

[2021-10-19 04:32] siddk commented on #145
Got it; so performance is the only real issue then? Do we want to lock versions to min-runnable, or do we want to actually gate on performance?

I could imagine confusion down the line that the same models that fit on newer cards due to some DS/Megatron enhancements don’t necessarily work (or work reliably) on older cards because of an “effective” torch/ds/CUDA version.

Generally my solution for

[2021-10-19 04:47] stas00 commented on #145
Nope. Performance is also a prerogative of a user. One should always avoid setting any hardcoded requirements because there is always a chance of conflict with other dependent package requirements.

In the case of Meg-DS, Meg has no torch requirements, DS's is 1.2, so it's safe to not set any minimal requirements.

Should we discover that the code doesn't run due to a certain problem or a bug, we

[2021-10-19 04:51] #129 closed

[2021-10-19 13:13] #145 closed

[2021-10-21 04:25] StellaAthena commented on #136
Reposting from chat for documentation:

EleutherAI found the same and removed fused layernorm from GPT-NeoX: https://github.com/EleutherAI/gpt-neox/pull/428

[2021-10-21 15:38] stas00 opened #149 "extract and log grad norm for individual layers"
the paper NormFormer: Improved Transformer Pretraining with Extra Normalization https://arxiv.org/abs/2110.09456 suggests that under preLN:

so we want to verify that this is so in our case before acting on it and potentially integrating NormFormer.

So we need to expand the tensorboard and logs to log grad norm for individual layers, perhaps as in the paper we can log 5 layers: 0, 1, int(n_layers

[2021-10-21 17:25] stas00 opened #150 "[testing] add logging facility"
as discussed elsewhere by @thomasw21 - we need to be able to test specific code paths.

One way to approach this is to add:
[code]
and then in a test:
[code]

So we need:
1. to add a logging facility - Megatron doesn't have one - I recommend adapting https://github.com/huggingface/transformers/blob/master/src/transformers/utils/logging.py as it's greatly polished
2. a way to activate the desired l

[2021-10-22 16:01] thomasw21 opened #153 "[prefixLM] Investigate cuda kernels"
Up until recently we've been using pytorch code in order to apply "scale -> mask -> softmax" in attention mechanism for prefix LM.

I've recently discovered that there exists two cuda kernels to attention matrices:
 - `ScaledUpperTriangMaskedSoftmax` which is as the naming suggest specific to GPT style models
 - `ScaledMaskedSoftmax`

 The later one hasn't really been tested, and since I didn't ha

[2021-10-22 22:29] #150 closed, assigned to thomasw21

[2021-10-24 00:49] stas00 commented on #149
@jaketae, the other simpler approach is to not touch Deepspeed and develop a generic tool that will work with any framework or model. Please have a look at this tool I have developed for params under/overflow debug:
https://github.com/huggingface/transformers/blob/95bab53868a91b4809bd5281a72b5f326853e31f/src/transformers/debug_utils.py#L28

So we want a very similar thing, except for backward, so

[2021-10-25 19:21] stas00 opened #157 "Need to log TFLOPs"
We need to log TFLOPS to TB and logs.

The code is already in https://github.com/microsoft/DeepSpeedExamples/

we just need to backport it to our repo. Here is what's needed:

[code]

[2021-10-27 00:10] thomasw21 opened #163 "[Tensorboard] Log text prediction in evaluation"
A very useful tool in order to understand model performance beyond obtaining loss: Actually show what are the predictions.

It'd be very useful to be able to "see" the output of the model during evaluation in text format. These should be logged in tensorboard. Tensorboard likely supports markdown style where you can put prediction in bold.

Maybe we can only print out the first batch as we should

[2021-10-27 15:31] ibeltagy opened #166 "add support for adaptive softmax to reduce memory"
This:  https://pytorch.org/docs/stable/generated/torch.nn.AdaptiveLogSoftmaxWithLoss.html
Why: reduce memory requirements with a large vocabulary. Relevant for the multilingual experiments.

[2021-10-29 00:33] stas00 opened #171 "tests/test_model.py::MyTestCase::test_gpt fails with 4 gpus"
Our CI fails this test with 4 gpus - it's fine with 2.

I wonder if it has to do with the long build time of Meg-LM. Will try something now.

[code]

[code]

[2021-10-29 00:50] #171 closed, assigned to nobody

[2021-10-29 05:59] lintangsutawika opened #173 "Error in Installation due to circular import"
I am trying to run tests on the codebase. I am using a docker image on an AWS p3.2xlarge (Tesla V100)
[code]

running `python -m pip install -e .`
returns the error
[code]

Upon further investigations,  I `cd` to the `megatron` directory and tried `import torch` but got this error
[code]

It seems that the `logging.py` is affecting `torch`?

[2021-10-29 15:35] stas00 opened #174 "Parallelize Meg CUDA Kernel build system"
It takes forever to build the Meg cuda kernels as it does it sequentially and doesn't take advantage of multiple cores. It takes some 5 minutes to build. And every time one changes the number of gpus it rebuilds itself, which is both very non-productive and it also makes the CI really slow.

Need to rewrite the build to parallelize it.

Sidenotes: apex and deepspeed have this too, but deepspeed su

[2021-10-30 04:48] stas00 commented on #166
Gentleman, I have a silly question - I am missing the context - and it appears that you propose to switch to  `AdaptiveLogSoftmaxWithLoss` to use less memory? Where are you dealing with OOM in the first place?

I ask since I don't see anywhere in the paper or the pytorch docs that it says that it reduces memory usage. It discusses speed but not memory. I suppose by the nature of the approach it pr

[2021-11-02 18:41] stas00 opened #175 "[new feature] skip iterations X-Y"
We need a new feature to skip iterations.

Adding a flag:

`--skip-iteration-range <first-iterA>-<last-iterA> <first-iterB>-<last-iterB> <first-iterC>-<last-iterC>`

in other words the range is defined by a single arg of `start-stop` and can be listed multiple times.

Since we are counting iterations from 1 here, the above range is literal and not 0-index based. i.e. `stop` is part of the range to

[2021-11-02 19:29] jaketae commented on #175
I assume this is where we want to add some checks for the `continue`.

https://github.com/bigscience-workshop/Megatron-DeepSpeed/blob/5e1f21017d8d05fdc1d031e991878ef36f9f792c/megatron/training.py#L722-L723

I imagine I will have a list of start and end iterations for each interval.

[code]

Inside the `while`, I would do

[code]

This assumes that the intervals are inclusive.

I will try to famili

[2021-11-02 23:25] stas00 commented on #175
I'd code it before that loop, so not to make things more complex. But if it works better in the training loop that's fine too.

But it looks like the task is slightly more complex, since you want to `continue` but you need to drain `data_iterator` by the exact amount of data to be skipped. otherwise nothing is accomplished.

https://github.com/bigscience-workshop/Megatron-DeepSpeed/blob/5e1f21017d

[2021-11-02 23:28] stas00 commented on #175
I wonder if the new arg should be called `--skip-train-iteration-range` since we really are just dealing with train here.

[2021-11-03 00:38] jaketae commented on #175
This makes sense.

I'm curious to hear what your thoughts are on a "hack." Instead of calling `model[0].train_batch(data_iter)`, what if we just call `model[0].eval_batch(data_iter)`? We wouldn't be backpropagating, so it won't affect training. I guess the TB logs could plot somewhat misleading values.

I will continue to look at DS to figure out how `data_iter` if flushed, but it doesn't seem to

[2021-11-03 00:49] stas00 commented on #175
I don't think it is the best approach for reason yous mentioned, plus it'd actually have to run through all those iterations.

I think it should be as simple as `next(data_iter)` except you need to figure out how many times to call it to accommodate for DP.

or perhaps we could offer a patch to Deepspeed that `train_batch` could take a new argument `train_batch(..., skip_train_logic=False)` so tha

[2021-11-03 11:25] thomasw21 commented on #166
@jaketae so self.specs is how we build a PP version of GPT2, ie deepspeed supports lists of blocks. Concerning the upcasting, I'd say that it is necessary for softmax computation over the vocabulary (which is 50k big in english and 250k big in multi lingual). So I don't think removing the upcasting would be possible. TBD.

[2021-11-03 17:48] stas00 commented on #175
@jaketae,

OK, so it's simple at the end, all you need is to insert in `training.py:train()`, before the main train loop

[code]

Courtesy of @ShadenSmith - Thank you, Shaden!

We just need to translate it to our start/stop api.

[2021-11-03 19:01] stas00 commented on #166
We haven't added it yet, as I'm trying a different solution first as explained in my previous comment.

But you can also try other MBS between 8 and 1 :)

[2021-11-03 20:28] jaketae commented on #175
@stas00 So it was indeed just `next(train_data_iterator)` after all!

I assume `args.skip_n_batches` is just the number of batches to skip. But in our case, we will be specifying the range to skip, right? So to sum up:

* Modify `get_args()` to be able to handle `--skip-iteration-range <first-iterA>-<last-iterA> <first-iterB>-<last-iterB>`
* Call `next(train_data_iteration)` in https://github.com/

[2021-11-03 20:33] thomasw21 opened #176 "Unable to run evaluation"
When running this script https://github.com/bigscience-workshop/bigscience/blob/master/train/tr9-glu/tr9c-1B3-swiglu-pile.slurm , got the following error:

[code]

It trained well until reaching the evaluation.

Looks related to https://github.com/bigscience-workshop/Megatron-DeepSpeed/pull/97

cc @hadyelsahar  @TevenLeScao

[2021-11-03 20:53] stas00 commented on #175
Yes, that's how they implemented it. I think an explicit range implementation as I proposed it is easier on the operator if you know you want to skip a particular range, rather than calculating the gap and also not being sure whether the edges are inclusive or not. So let's stick to our spec.

I'm not sure about DP, should be easy to test with 2 gpus and a no PP/TP so that the whole model fits on

[2021-11-03 21:36] jaketae commented on #175
Apologies for making you repeat, but I don't quite understand how the code snippet would work outside of the `while` loop. If the operator specifies they want to skip iterations from `100-110 150-160`, wouldn't we need to access the `iterator` variable inside the `while` loop as it is getting updated?

I guess my point of confusion is how the following code would work.

[code]

The `start` and `en

[2021-11-03 22:10] stas00 commented on #175
This is untested, but to add to your code:

[code]

[2021-11-03 22:27] thomasw21 commented on #176
More infos:
 - I could reproduce with 2 gpus only when tweaking `get_3d_dimensions` by putting `tp==2` instead. https://github.com/bigscience-workshop/Megatron-DeepSpeed/blob/main/tests/test_training.py#L53-L54
 - One of the reasons why this fails is that not all ranks have access to dataloaders, typically on `tp_rank == 0` do have access to them https://github.com/bigscience-workshop/Megatron-Dee

[2021-11-04 00:40] jaketae commented on #175
Is "drain intervals 100 to 110, and 150 to 160" the same as "drain 20 iterations worth of data in total"? I was under the impression that they would be different, which is why I was thinking of something like

[code]

[2021-11-04 02:18] stas00 commented on #175
Good point indeed. The multiple ranges won't work outside of the main loop. Nice catch, Jake!

[2021-11-04 07:33] hadyelsahar commented on #176
It looks indeed related to #PR97 I'll take a look on this by Friday.

[2021-11-04 08:38] thomasw21 commented on #176
I think this was fixed with https://github.com/bigscience-workshop/Megatron-DeepSpeed/commit/b982e040fbf12f089115cde560f685f673de6eb1 .

I think one of the reasons we didn't see this coming was you have to run tests with 4 gpus wight now to have TP > 1. Maybe we should improve tests to have TP>1 for 2 gpus, ie testing for both TP=1/PP=2 and TP=2/PP=1 (we only do the first). Would you be interested

[2021-11-04 09:35] TevenLeScao commented on #176
Sorry, hotfixed last night, should have documented. Also think the double testing would be nice and not too hard.

[2021-11-04 10:46] thomasw21 commented on #176
Related to #178

[2021-11-04 22:13] stas00 opened #180 "[BNB] integration needs more work"
wrt https://github.com/bigscience-workshop/Megatron-DeepSpeed/pull/144

As we started training and found it not training well, it appears that this integration is correct for most things except the Stable Embedding for word embedding which was instead applied to other embeddings.

The thing is the Meg-LM word embedding is a custom embedding due to parallelism: https://github.com/bigscience-worksho

[2021-11-04 22:13] jaketae opened #181 "Refactor existing tests to use variations"
To improve readability and avoid boilerplate duplicates, it'd be best to refactor `test_training_prefix_lm_all` in [`test_train.py`](https://github.com/bigscience-workshop/Megatron-DeepSpeed/blob/main/tests/test_training.py#L221)  to use decorators as follows. This was brought up in https://github.com/bigscience-workshop/Megatron-DeepSpeed/pull/177#discussion_r743183926

This is likely low priorit

[2021-11-05 01:15] stas00 commented on #181
If over time we find that we need a different granularity we can then further refactor things. So there could be 2-3 different boiler plates and different tests choosing which of them is the closest.

i.e. we don't have to make everything go through the same engine.

The goal is easy maintenance while maintaining relatively easy readability. If the latter is lost then it's not great either and a d

[2021-11-05 03:11] stas00 commented on #166
Update:

So I'm still waiting to hear from Shaden about the ZeRO-1 issue, but you can already use the following solution, except you have to turn ZeRO-1 off in the config file (just set it to 0):

[code]

This makes the embed layer on par with transformer layer when it performs the partitioning, so now it can have a whole stage for itself.

Please let me know if you still would like me to look int

[2021-11-08 18:50] VictorSanh opened #183 "Add progress percentage on TBs"
We should have a view that tells you the % of the training done -> I am looking at a random TB, how far is the training? 10%? 40%? 90%?
It's more or less comparing `global_step` (or whatever it is called) against the number of training steps

[2021-11-08 18:57] stas00 commented on #183
but iterations is not a very useful metric to get a feel of the progress, because of various rampups.

Perhaps % tokens completed is a much more realistic estimate?

[2021-11-08 18:58] VictorSanh commented on #183
that's a good point, yes!

[2021-11-08 19:02] stas00 commented on #183
On the other hand we don't really know the total tokens. It'd take some figuring out to calculate that because of all the moving hparams.

On the other hand it's pretty obvious where you're at for iterations by looking at the logs, e.g.:
[code]
Is it hard to tell that it's barely starting?

Perhaps we could log a % next to these 2 numbers? e.g.:

[code]

or do you want TB?

[2021-11-09 04:59] stas00 commented on #166
With TP=4 PP=32

So with the above change and lowering n_layers to -2, I get this new map:

[code]

Note, we had to chop off 2 layers!

So now `EmbeddingPipe` and `ParallelTransformerLayerPipe` are on equal grounds. The former is about 2x larger than the latter, so the first and last stages where they share it. are 1.5x larger than stages with 2 `ParallelTransformerLayerPipe`

If need be we could

[2021-11-09 05:04] stas00 commented on #166
Actually, partitioning by `parameters` instead of `partition_method='type:embed|transformer'` gives us the same result:

[code]

[2021-11-09 05:23] stas00 opened #186 "[deepspeed pipe] expand the partitioning method to support weights"
we will need to hack https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/runtime/pipe/module.py#L378-L384 to support `partition_method` `type:embed:2|transformer:1` - or something like that - now the embed weights will get 2x partitioning weights and will get its own stage and all stages will be more balanced.

For context please see: https://github.com/bigscience-workshop/Megatron-DeepSp

[2021-11-10 09:10] jaketae commented on #183
If it's just the % of iterations completed, it should be very quick, and I can take it. If there is more consensus around what needs to be logged where (e.g. % tokens on TB), I can try that as well, although I'd imagine it might take more time.

[2021-11-10 19:41] #180 closed

[2021-11-11 05:04] stas00 commented on #183
I think it should be % of total tokens, since that's the only things that's constant. e.g. CL has a very different way of progressing on GBS+seqlen than non-CL. the former is fixed GBS, and ramping up seqlen, the latter ramping up GBS, and fixed seqlen.

[2021-11-11 15:13] VictorSanh commented on #183
Yes agree, i think % of tokens is the right metric to display as the other things move too much between experiments

[2021-11-11 20:39] VictorSanh commented on #183
We automatically report `consumed tokens` in the log so I presume that's the numerator you want to track

[code]

[2021-11-12 00:26] jaketae commented on #183
@VictorSanh Thank you. I think I'll just have to figure out some math to calculate the total number of tokens and put that in the denominator.

[2021-11-16 22:12] jaketae opened #189 "Fix `sample_idxs_to_text.py` to account for skips"
## Motivation
#177 allows for train iterations to be skipped. However, as discussed [here](https://huggingface.slack.com/archives/C01NHER1JLS/p1636671441229200), the PR ultimately uses a separate internal counter to keep track of skipped iterations instead of tinkering with Meg-DS's internal counters such as `args.iteration`. This introduces a mismatch between the text retrieved from `sample_idxs_

[2021-11-17 17:29] #175 closed

[2021-11-19 04:08] #142 closed

[2021-11-19 04:09] #38 closed

[2021-11-19 05:29] #73 closed

[2021-11-20 21:59] jaketae commented on #186
Would this involve creating a PR on the upstream?

[2021-11-21 05:01] stas00 commented on #186
This could be done with monkey patching first and then later added upstream.

I'm just not sure we should start working on it until this Issue is fixed https://github.com/microsoft/DeepSpeed/issues/1522.

As I commented in https://github.com/bigscience-workshop/Megatron-DeepSpeed/issues/166#issuecomment-963818130 we could use BNB to compensate for ZeRO1. But BNB has issues as well at the moment.

[2021-11-23 21:37] jaketae opened #203 "Avoid re-computing model parameter count every iteration"
In `training.py`, we have

https://github.com/bigscience-workshop/Megatron-DeepSpeed/blob/fd1e1da967c74e598acfc011031474663ef5845e/megatron/training.py#L818

However, this appears to be wasted compute since the model parameter count does not change. We can refactor the code so that `get_parameters_in_billions` is called only once.

[2021-11-24 06:59] jaketae commented on #157
I will be looking at this issue once #204 is sorted!

[2021-11-25 16:18] #24 closed

[2021-11-25 16:19] #23 closed

[2021-11-25 16:21] #25 closed

[2021-11-25 16:21] #26 closed

[2021-11-25 16:22] #27 closed

[2021-11-25 16:22] #53 closed

[2021-11-25 19:02] thomasw21 opened #206 "[PrefixLM] Improve test to test out custom cuda kernel"
I have suspicions that the custom cuda kernel used by prefix lm doesn't work as expected. We see discrepancies in when we generate using the model (ie it seems to have so sort of padding effect).

[2021-11-25 20:09] jtboing commented on #123
Hello. Sorry that this hasn't been done sooner and I am trying to get through this now. I am looking for where the Meg-DS startup script/process. Can you point to me which script/process initiates the framework init?

[2021-11-25 20:13] stas00 commented on #123
We have already started sorting it out here: https://github.com/bigscience-workshop/Megatron-DeepSpeed/pull/204

[2021-11-26 10:42] jtboing commented on #124
Hello. I'd like to take this issue, please.

[2021-11-26 11:02] jtboing commented on #124
Are we specifically looking for an implementation of consistency checks to be applied directly to Megatron-DeepSpeed? Or is it just a study to better implement checks?

[2021-11-26 16:06] #206 closed

[2021-11-26 17:45] stas00 commented on #124
Yes.

I think this is mainly the code starting from:

https://github.com/EleutherAI/gpt-neox/blob/49e60fe7ad14f6991a7fa678d3a0c330d09b9ff4/megatron/neox_arguments/arguments.py#L641

Megatron-LM and thus Meg-DS has already all kinds of validations as well, so I suppose the above ones are additional checks.

Additionally, I have started compiling various constraints here:
https://github.com/bigscien

[2021-11-27 04:08] stas00 commented on #157
@jaketae, I was working on a different set of graphs and TFLOPs was just a multiple of a graph I added, so this Issue will be closed once https://github.com/bigscience-workshop/Megatron-DeepSpeed/pull/210 is merged.

[2021-12-01 07:45] jaketae commented on #181
Closing this issue to declutter/give better visibility to other issues that require attention. Feel free to re-open if you see this as a problem @stas00. Thank you!

[2021-12-01 07:45] #181 closed

[2021-12-01 17:19] thomasw21 opened #214 "Print arguments in a seperate file"
Currently we log the arguments used (the lines right after `------------------------ arguments ------------------------`) in stdout that we catch inside `main_log.txt`.

I think we should also store them in a seperate file to check the config seperatly.

[2021-12-06 23:50] arovn10 commented on #214
Hi! I may be of help with your issue. Can you assign me so I can take a look?

[2021-12-07 02:21] #157 closed

[2022-01-04 16:42] SaulLu opened #220 "Problem running training tests on JZ"
I am having some difficulty running tests of the `test_training.py` file.

I use JZ to run these tests, in particular I do:
[code]

Here is what is displayed rather quickly from my console, then the program does not finish and does not print anything.
[code]

When I kill the command, I can see the `stout` prints which are:

[code]

I can't figure out at all if the long wait is normal, or if someth

[2022-01-05 01:13] stas00 opened #221 "misreporting GFLOPs as TFLOPs"
Both the TB `iteration-time/TFLOPs per gpu (estimated)` and the logs currently misreport GFLOPs as TFLOPs, e.g.:

[code]

That should be either:

- `GFLOPs: 30949.01`
- `TFLOPs: 30.95`

Probably the latter is the easiest to read since we want TFLOPs.

@jaketae, if you'd like to have a look at where we are not diving by 1024.

Thanks!

[2022-01-05 01:27] thomasw21 commented on #173
So I tried tackling this again. Turns out `pip install -e . --no-use-pep517` works. I'm still unclear why that is.

[2022-01-05 09:23] jaketae commented on #221
Hello @stas00, thank you for opening this issue. I'll take a look at it and follow up with you if anything is unclear!

[2022-01-05 20:23] bhavitvyamalik commented on #221
I just had a quick look at the training code and found that the `tflops` value is not divided by `1e-3`
https://github.com/bigscience-workshop/Megatron-DeepSpeed/blob/4ed19efb2c50ecc35f693360e2488a5cf3e4ca6d/megatron/training.py#L683

but the formula mentioned few lines above suggests dividing by `1e-3`
https://github.com/bigscience-workshop/Megatron-DeepSpeed/blob/4ed19efb2c50ecc35f693360e2488a5c

[2022-01-05 20:38] stas00 commented on #221
Thank you for investigating, @bhavitvyamalik!

Yes, we need to add `*1e3` as in the formula.

Adding here. https://github.com/bigscience-workshop/Megatron-DeepSpeed/pull/223

[2022-01-05 20:57] #221 closed

[2022-01-05 21:01] stas00 commented on #221
So CL is still not reporting the right thing here, as it's seqlen is not fixed.

[2022-01-06 11:36] thomasw21 commented on #220
Closing as it doesn't seem Meg-DS related. It looks like a combination of JZ + your setup.

[2022-01-06 11:36] #220 closed

[2022-01-06 11:38] thomasw21 commented on #214
@bhavitvyamalik has opened a PR for this.

[2022-01-06 11:43] thomasw21 opened #226 "Make sure Deepspeed power models and equivalent with their non deepspeed version"
@DanielHesslow has opened a PR https://github.com/bigscience-workshop/Megatron-DeepSpeed/pull/212. This allows us to evaluate Megatron-Deepspeed models using the EAI harness directly in this repo, without needing to convert models into HF format.

The current issue, is that we train models using deepspeed (*ModelPipe) but the evaluation script loads a model without deepspeed (*Model). This creates

[2022-01-07 16:18] DanielHesslow opened #227 "Likely bug in Alibi positional embeddings together with Tensor Parallelism."
The way alibi is implemented we first generate the alibi attention bias tensor
https://github.com/bigscience-workshop/Megatron-DeepSpeed/blob/7ab5c05ad2e3b4ee678307260c62e89ab592505a/megatron/model/transformer.py#L591
and then extract the part of it:
https://github.com/bigscience-workshop/Megatron-DeepSpeed/blob/7ab5c05ad2e3b4ee678307260c62e89ab592505a/megatron/model/transformer.py#L291

When we r

[2022-01-08 22:13] thomasw21 opened #228 "Check all EAI Eval tasks"
We've observed some tasks not learning at all over the first 100B tokens during pretraining. One of the suspicion we have is some tasks are bugged.

The current task list we run:

[code]

Done when
 - [ ] review all individual task making sure that they are coherent.
 - [ ] re-run evaluation on those task
 - [ ] start tracking task version correctly.

[2022-01-08 22:14] thomasw21 commented on #228
@zphang I vaguely remember you mentioning you might be interested in taking this task? There should be quite some intersection with https://github.com/EleutherAI/lm-evaluation-harness/issues/248

[2022-01-09 01:56] stas00 commented on #173
Yeah, there are multiple issues with circular imports in megatron-lm. We fixed some but more are popping up.

And I don't think it was designed for being installed. Remember it has to compile cuda kernels which are in the source. Deepspeed has a way to do to that works well, but not Megatron.

[2022-01-09 01:57] stas00 commented on #173
can this somehow be enabled automatically in setup.py? That's too hard to remember

[2022-01-10 10:25] zphang commented on #228
Yep. I've checked from most of them (ex: prost, pubmedqa, webqs, which have datasets versioning issues I think. Race does as well). Pinning the datasets commit as Lucile mentioned should help as well.

[2022-01-10 16:05] yuvalkirstain opened #229 "How to *continue* pretraining an already pretrained model?"
Hey,

What should I do to continue pretraining T5/BART/any other arbitrary sequence2sequence pretrained model with this repo (in a way that will be easy to use integrate to Huggingface)?

If doing so is very tricky, can you please recommend on another way/repository for doing so? I am looking to continue pretraining an already pretrained model on a very large corpus from a different domain.

Any h

[2022-01-12 08:58] zphang commented on #228
Documenting the tasks with examples: https://hackmd.io/wBpmKPKBSZKm-icYcLaFgw?view

Still missing prost, pubmedqa, webqs as mentioned above.

[2022-01-13 17:55] bhavitvyamalik commented on #214
Can we close this now @thomasw21?

[2022-01-13 18:24] bhavitvyamalik commented on #124
Hi @stas00, can I work on this issue?

[2022-01-13 18:30] stas00 commented on #124
Yes, of course, as I it doesn't look that @jtboing is working on it. I could be wrong of course.

As I mentioned earlier it was Stella's recommendation so I don't really know what can be done here.

So please have a look and if things looks interesting to work on then by all means.

It's hard to work without a concrete spec.

The only spec I have is the doc I created here: https://github.com/bigsc

[2022-01-13 18:39] #214 closed

[2022-01-15 01:41] stas00 opened #230 "possibly --skip-train-iteration-range with multiple entries has a bug"
Just noticed in the logs that `--skip-train-iteration-range` reports only a single range.

I currently have:
[code]
But the report is only:
[code]

@jaketae, could you please check if it's just printing error or it actually doesn't work as we planned it to? Thanks!

[2022-01-15 01:53] jaketae commented on #230
That's odd, thanks for flagging! I'll look over it over the weekend.

[2022-01-15 14:48] bhavitvyamalik commented on #124
I was thinking if we can add a function to validate args before this:
https://github.com/bigscience-workshop/Megatron-DeepSpeed/blob/04c461ed786ed0e257690e136d3481957b0ef582/megatron/arguments.py#L319

1. There’s a function by name of `_check_arg_is_not_none` which checks if `required_args` are not `None`.  Can I make this check in validator only and remove `_check_arg_is_not_none`?
2. I looked in

[2022-01-15 16:34] jtboing commented on #124
Sorry for the lack of response. Please take over this issue for me. Thanks.

[2022-01-16 07:03] stas00 commented on #124
Whatever you propose we don't want to remove anything but extend improve and refactor if need be.

why? those are available in args. e.g. `args.tensor_model_parallel_size`

`args.deepspeed_config`? I think it gets parsed on the deepspeed side so perhaps it's not in args? the deepspeed engine object should definitely have it after `deepspeed.initialize` - not sure if it's too late for validation.

[2022-01-16 18:56] bhavitvyamalik commented on #124
Exactly, my plan is to extend and provide most `asserts` into validate_args function instead of keeping them in `parse_args`

[2022-01-17 00:20] jaketae commented on #230
@stas00 Do we know what the iteration was when you ran the script with the skip flags? My best educated guess is that this is the culprit:

https://github.com/bigscience-workshop/Megatron-DeepSpeed/blob/04c461ed786ed0e257690e136d3481957b0ef582/megatron/training.py#L799-L804

Is it possible that the the iteration count was larger than the first skip range when training was resumed?

[2022-01-17 00:26] stas00 commented on #230
yes, it will always be larger as the training progresses, yet we need to continue skipping earlier ranges.

so with `--skip-train-iteration-range 13251-14000 16651-19500` the actual iteration will typically be somewhere past 16651.

But also say we want to re-train the whole thing keeping these ranges, then iteration can be anything - smaller and larger.

Does it make sense?

So I think if the cur

[2022-01-17 02:51] jaketae commented on #230
This totally makes sense. But if the skip range was `13251-14000 16651-19500` and the loaded checkpoint started at, say iteration 16000, the first skip range will be ignored because it's already in the past, which is what I suspect might have happened. Am I missing something?

I'm not sure if I follow. Could you elaborate a bit more please?

This makes sense, and I think we accounted for this by i

[2022-01-17 04:21] stas00 commented on #230
It depends on how you look at it.

Consider this dataset sequence: `123456789`

And your skip range is: `2-3 5-6 8-9`

Current code with 2 iteration per training cycle will pick:
[code]
As you can see on job #2, it'll skip 2-3 and start with 4, but it has already run sample 4.

but we want 14,71,14,71 - no repetition of the same samples until the epoch has run out.

So if you take into considerati

[2022-01-18 19:15] bhavitvyamalik commented on #124
Can you give me write access for this repo (to raise the PR), @stas00? I made some basic changes and wanted your feedback for the same

[2022-01-20 02:01] stas00 opened #235 "[TB] switch to a potentially faster data format to speed up data loading"
It looks like there is a potentially faster data loading format for TB
https://pytorch.org/docs/stable/tensorboard.html#torch.utils.tensorboard.writer.SummaryWriter.add_scalar
which requires `new_style=True` arg to `add_scalar`.

Since we often have a ton of data perhaps it's worth trying adding that option to our `add_scalar` calls? I don't know if anybody actually measured the improvement and it

[2022-01-20 09:40] janEbert opened #236 "Wrong unit for throughput logging"
When calculating the samples or tokens per supposed second for logging, [the `elapsed_time_per_iteration` is multiplied by 1000](https://github.com/bigscience-workshop/Megatron-DeepSpeed/blob/04c461ed786ed0e257690e136d3481957b0ef582/megatron/training.py#L669), changing the unit to be milliseconds instead.

---

The rest here is just for background to be sure I got the units right:

As [the timers

[2022-01-20 11:55] abodacs commented on #235
I can try to take this, but I want to make sure that I have the specs correct before I jump in. Is this the part of the code that requires modification?

https://github.com/bigscience-workshop/Megatron-DeepSpeed/blob/5d64b434ee30817b14ce0d91128b52bcf5de6670/megatron/global_vars.py#L146-L148

`_GLOBAL_TENSORBOARD_WRITER.add_scalar = functools.partial(_GLOBAL_TENSORBOARD_WRITER.add_scalar, new_style

[2022-01-20 17:48] stas00 commented on #235
I think that should do the trick. But please test that it produces a TB that loads w/o problems.

Perhaps create one before the change and one after and compare the loaded TBs.

Should be fine to train a tiny model for say 50 iterations. e.g. here is my quick setup that I use for this kind of things:

[code]

I assume you already have a preprocessed dataset or if you don't have the setup for it pe

[2022-01-21 21:05] #235 closed

[2022-01-22 06:46] stas00 commented on #236
Indeed. Let's see what needs to be fixed and whether it's important.

The log file says: `elapsed time per iteration (ms): 3461.3` - i.e. ms - no error there.

So the variable name `samples_per_sec` is misleading (and the rest derived from it)

Anything else?

It'd be tricky to switch to seconds with all the trainings on the way as it'd screw up all the existing TBs, but we could also try to fix u

[2022-01-24 08:22] janEbert commented on #236
I was really only interested in the throughput numbers, so I can't say confidently whether those are the only affected logs. :)

Sorry, I should have described more clearly which variables I was talking about. It is as you said that `samples_per_sec` and derivations are affected (`samples_per_sec_per_replica`, `tokens_per_sec`, `tokens_per_sec_per_replica` are the only ones as far as I can tell).

[2022-01-24 19:36] stas00 commented on #236
I think you have probably covered all the bases.

Yes, I already adapted that SO answer to rename TB entries. https://gist.github.com/stas00/4cd1651d1c8f01196ea322c733bde46c

So it can be cloned and used to rescale those numbers.

Would you be interested to work on a PR that fixes this issue and optionally a script to rescale those TB entries that are already in the TB files?

[2022-01-25 06:57] janEbert commented on #236
That's perfect! Would gladly open a PR; just to be crystal clear, since you talked about rescaling, I'll go with option a, removing the multiplication that converts from seconds to milliseconds.

Thanks for a nice code basis as always, by the way.

[2022-01-26 05:41] stas00 opened #242 "[new feature] train finishing ETA!"
I have to calculate the ETA for finishing training often enough that I think it should be a feature.

How about we log the ETA along `elapsed time per iteration`?

This is just current `elapsed_time_per_iteration * (total_iterations-current_iteration) / (60*60*24)` - I think in days is most practical.

I don't remember if we have `total_iterations` - perhaps then total_samples-consumed_samples.

C

[2022-01-26 23:48] thomasw21 commented on #227
@stas00 for visibility in case we're going for Alibi and TP > 1

[2022-01-27 00:42] stas00 commented on #227
After yesterday's call we are definitely going for TP=8.

And it does sounds like we are going for Alibi - at least that's what @ibeltagy said in the channel.

[2022-01-27 00:44] ibeltagy commented on #227
Yes, we certainly want to use ALiBi in the final model, and we need to fix the ALiBi/TP bug.

[2022-01-28 01:36] #236 closed

[2022-02-01 15:48] DanielHesslow commented on #227
Closing this since the fix has been unit tested and is now merged into main.

[2022-02-01 15:48] #227 closed

[2022-02-09 04:54] jaketae commented on #230
Sorry @stas00, somehow this slipped under my radar. Has it been resolved or fallen out of relevance? If not, I can look at it this week and hopefully ship a fix. Thank you!

[2022-02-09 05:01] stas00 commented on #230
I think it may be pretty essential should we run into instabilities during 200B training. It hasn't been resolved or fallen out of relevance. It's waiting for your magic touch, Jaesung :)

[2022-02-10 04:55] jaketae commented on #230
I'm no magician, but you sure are a wizard!

I can certainly add a `print` that informs the user of any "flushing" of past intervals that has occurred. But before I do that, I want to make sure that I've wrapped my head around everything and that we are on the same page.

1. **The script has no way of knowing what happened before.** That is, the script doesn't know whether the current run is the f

[2022-02-10 06:02] stas00 commented on #230
I didn't validate every clause you mentioned but your diagnostics sounds correct, Jaesung.

Perhaps the issue stems from the fact that (1) we decided to skip iterations instead of samples because it's somewhat easier to use in the moment of wanting to skip. Albeit we know the samples count. (2) that we are not doing the long-term accounting and thus have "memory" gaps.

What if instead of skipping

[2022-02-11 06:07] jaketae commented on #230
Yes, this totally makes sense to me. IMHO keeping everything relative is the source of confusion and potential bugs. Of course, there is also an advantage of using relative intervals instead of absolute sample indices, but the more general use case seems to favor the latter. I'm assuming we know what the specific index of the data is that caused a spike.

One question is, when you say index, is th

[2022-02-11 06:30] stas00 commented on #230
The problem is that the current implementation may potentially lead to the same samples being fed through multiple times in a single epoch.

I was thinking of sample id being the index, because this is what the user sees.

Remember we have batch size rampup, so if we don't use an absolute sample counter we again have a bit of an issue of calculating the sample id.

[2022-02-13 17:31] jaketae commented on #230
Ah right, I missed the batch size ramp up part. I'll try to open a PR next week and maybe we can go from there? I assume this isn't needed as of immediate, but it might be good to have once the training starts and we run into an unrecoverable instability (fingers crossed we won't).

[2022-02-13 18:40] stas00 commented on #230
Well, the current solution is sort of working at the point of wanting to skip - the main concern is potentially multiple feedings of the same data. So it's hard to tell what way to proceed, since I'd rather not test something new when the training has started.

I wonder if we should just leave it as it is for now.

[2022-02-19 18:42] thomasw21 commented on #229
So we've forked this repo https://github.com/microsoft/Megatron-DeepSpeed
We currently don't use T5/BART only GPT as it's the only one that have a deepspeed compatible version (search for classes that finish with `Pipe` as suffix)

If you want to train a T5/BART, you can have a look a https://github.com/microsoft/Megatron-DeepSpeed or https://github.com/NVIDIA/Megatron-LM (haven't looked at it, bu

[2022-02-19 18:43] thomasw21 commented on #228
Do we close this then?

[2022-02-24 20:16] stas00 opened #252 "Final model launch Engineering TODO tracker"
## This is the tracker for the final launch

**Please edit directly** (contact me on slack if you need write access)

-------------------

General TODO:

- [x] hparam config - happening right now (Iz is working on it)
- [x] waiting for BF16 updates from Deepspeed
- [ ] Hanging issue - have an adequate workaround - but continuing to debug it
- [x] Setup a hub repo to tb/log files once we decided on

[2022-03-11 23:27] stas00 opened #265 "c10d crashes on `sys.exit(0)`"
When not using
[code]

on normal program exit I get:

[code]

with pt-1.10 and pt-1.11

happens on my home setup and JeanZay too

adding `export CUDA_LAUNCH_BLOCKING=1` most of the time removes the problem instead of giving the trace.

The exit code where it fails is here:

https://github.com/bigscience-workshop/Megatron-DeepSpeed/blob/497aa1bfd3b817ff63e985bd15abe65d1cef45d9/megatron/training.py#

[2022-03-12 03:55] stas00 commented on #252
all done.

[2022-03-12 03:55] #252 closed

[2022-03-17 23:45] stas00 commented on #265
Thank you for the feedback, Can!

I was trying to work on this some more, but I happened to update from ubuntu 20.04 to 21.10 2 days ago, and also to pytorch-1.11 and cuda-11.6 on my desktop and at least there it stopped crashing.

I downgraded back to cuda-11.5 it's still fine, so it's not cuda.

I tried to restore the original environment where it was happening, but for some reason I no longer c

[2022-03-18 18:35] stas00 commented on #265
OK, I figured out how to get pt-.110 working again.

So to update:

pt-1.11 doesn't have this problem, whereas pt-1.10 - do you still want a bug report if pt-1.11 already has it fixed?

If I run with: `CUDA_LAUNCH_BLOCKING=1` now it still crashes:

[code]

Then on slack you suggested for me to try `export TORCH_DISTRIBUTED_DEBUG=DETAIL` - when I do that - the crash disappears and I get a clean exi

[2022-03-21 13:48] cbalioglu commented on #265
In case you don't experience this problem in v1.11, I would just close this issue. Unless it is a very serious bug, we usually avoid backporting fixes to older PyTorch versions and suggest our users to upgrade to the latest version.

[2022-03-21 17:25] #265 closed

[2022-03-21 18:05] stas00 commented on #265
it turns output buffering off.

e.g.: https://blog.finxter.com/what-is-python-output-buffering-and-how-to-disable-it/

[2022-03-31 19:55] treadstone90 commented on #265
Can I understand the fix in PyTorch 1.10 ? we do have a barrier call at the end to synchronize how different workers exit. is the fix to allow async exits ?

[2022-03-31 21:40] stas00 commented on #265
no, the original bug was that I did `sys.exit(msg)` which is not the same as `sys.exit(0)` if that's what you mean, so need to separate the message printing the exiting on non-fatal exit.

[2022-03-31 22:21] stas00 commented on #265
that one is different, I get it all the time, especially with small models. No idea why, I just started to ignore it. This is happening with pt-1.11 too.

Perhaps @cbalioglu can help, but the difficult part is that for him to help we need to come up with a way to reproduce it w/o Meg-DS.

[2022-04-14 15:41] SaulLu opened #279 "[new feature] add a `tag` to the arguments to load the checkpoint from a specific step (not necessarly the latest)"
It might be useful to be able to add a new argument to load the checkpoint from a specific step. Currently, the only way to do it - to the best of my knowledge - is to change manually the `latest` file inside the folder containing all the checkpoints.

Some thoughts shared by @thomasw21 to do it:
- add a `tag` argument in the `arguments.py` file and use it at [this line](https://github.com/bigscie

[2022-04-21 10:52] malteos commented on #229
What about GPT models? For example the ones from Huggingface or Megatron (https://catalog.ngc.nvidia.com/orgs/nvidia/models/megatron_lm_345m)?

Is there any way to load them as checkpoint? The [converter scripts](https://github.com/bigscience-workshop/Megatron-DeepSpeed/tree/main/tools/convert_checkpoint) allow only a conversion from Deepspeed to HF/Meg but not the other way around.

[2022-04-21 22:34] thomasw21 commented on #229
This was probably generated using `Megatron-LM` which is the original codebase. I believe we still have code that would make this work (though we've introduced some breaking changes along the way, in particular due to positional embeddings). I would suggest using https://github.com/NVIDIA/Megatron-LM instead as this has the better chances of working out of the box.

We don't have a convertion scri

[2022-04-22 09:52] malteos commented on #229
Thanks for the answer. And what about HF models like https://huggingface.co/bigscience/tr5b-1B3-multilingual-alpha-checkpoints/tree/main ?

[2022-04-22 09:56] thomasw21 commented on #229
HF models can't be loaded in Meg-DS either, it would require writing a conversion script. Is there a reason you would want to use those in Meg-DS instead of `transformers`?

[2022-04-22 10:23] malteos commented on #229
I'm already training models with Meg-DS from scratch but now I want to reuse existing pretrained checkpoints to make the training more efficient. For training I want to stick to Meg-DS for scalability reasons but unfortunately the pretrained checkpoints are in HF.

Apart from the weight name mapping, what other differences are there?

[2022-04-22 10:40] thomasw21 commented on #229
I see. So I haven't played around with it but out of the top of my head:
 - You need to generate the correct structure. Meg-DS checkpoints have multiple files, whereas HF pretrained models are stored inside a single bin:
     - `layer_{layer_id}-model_{tp_rank}-model_states.pt` to store single layers individually. `layer_id` is it's index in the sequence of layers. There's probably a reshaping loa

[2022-04-25 11:58] malteos commented on #229
I've tried replacing the weights with `load_state_dict` and mapping the corresponding layer names. See [here](https://github.com/malteos/bigscience-Megatron-DeepSpeed-oxw/blob/oxw/pretrain_gpt.py#L86-L96) and [here](https://github.com/malteos/bigscience-Megatron-DeepSpeed-oxw/blob/oxw/megatron/model/from_pretrained_hf.py#L68).

After training with Bigscience-DS-Meg for a single iteration and tiny

[2022-04-26 08:19] thomasw21 opened #280 "DeepSpeedCheckpoint needs to support bf16 optimizer states."
https://github.com/bigscience-workshop/Megatron-DeepSpeed/blob/a72225908e9bbda4d989bcdecd71c3c4a05a7f71/tools/convert_checkpoint/deepspeed_checkpoint.py#L5 seems wrong since the files generated using bf16 have `bf16_zero_pp_rank` as prefix.

[2022-05-04 06:55] malteos commented on #229
In case somebody has the same problem:

Even though the checkpoint weights seemed identical - they were not. The self attention weight/bias needed to be reordered (basically reverting the `fix_query_key_value_ordering` from `convert_megatron_gpt2_checkpoint.py`. see [here](https://github.com/malteos/bigscience-Megatron-DeepSpeed-oxw/blob/oxw/megatron/model/from_pretrained_hf.py#L95-L109)). Having

[2022-05-04 08:28] thomasw21 commented on #229
Sorry missed your last message:

Interesting, can you confirm that the EXACT same weights don't generate the same loss (in which case we might have a bug somewhere). Activation can definitely play a role, see https://arxiv.org/abs/2002.05202 for example. Layer norm has been fixed in pytorch 1.11 (so I recommend updating to it). Essentially it allows to accumulate in fp32 instead fp16, see https://

[2022-05-04 08:53] malteos commented on #229
The weight weren't exactly the same (see my last comment). The wrong order of the attention QKV weights caused the problem. I didn't notice this at first because the shapes and the first/last weights matched.

As soon as I have a through out tested version I'll do a PR ;-)

[2022-07-05 10:49] thomasw21 opened #303 "PrefixLM didn't work because we didn't pass attention_mask correctly"
Okay I have a strong intuition that the reason why we prefix LM never actually worked was because of this https://github.com/bigscience-workshop/Megatron-DeepSpeed/blob/e1c479e5890a4f38a743aabb31d1d95ff0e721f0/megatron/model/transformer.py#L588 Essentially `output` doesn't return the `attention_mask` and so effectively after the first layer that gets dropped, and so now the model thinks it has bid

[2022-07-05 11:07] thomasw21 commented on #303
Nvm it should be working as expected. My bad for jumping the gun.

[2022-07-05 11:07] #303 closed

[2022-07-07 09:25] thomasw21 opened #305 "Broke causal masking for gpt_model with used with deepspeed without fused kernels"
https://github.com/bigscience-workshop/Megatron-DeepSpeed/pull/304#issuecomment-1176182316

[2022-07-07 20:10] #20 closed

[2022-07-07 20:10] #22 closed

[2022-07-07 20:14] thomasw21 commented on #93
Closing as this seems outdated.

[2022-07-07 20:14] #93 closed

[2022-07-07 20:15] #100 closed

[2022-07-07 20:17] #137 closed

[2022-07-07 20:21] #166 closed, assigned to stas00

[2022-07-07 20:21] #183 closed

[2022-07-07 20:22] #228 closed

[2022-07-07 20:23] #229 closed

[2022-07-14 20:39] adammoody opened #312 "DeepSpeed checkpoint performance improvements"
I have a PR open on Microsoft's DeepSpeed page that parallelizes the task of writing per-layer checkpoint files across data parallel instances:

https://github.com/microsoft/DeepSpeed/pull/1419

On my system, I found that this reduces checkpoint cost -- much of the time seems to be spent processing data structures in ``torch.save()`` rather than actually writing the bytes to disk.  I'm curious to

[2022-07-15 02:34] mayank31398 commented on #242
I want to work on this

[2022-07-15 03:39] mayank31398 commented on #242
From what I see, this has a lot of intricacies: ramp_up_batch_size, curriculum_learning (changine sequence length)
so my suggestion is to compute as time_per_iter * (total_tokens - consumed_tokens) /86400

However, I am not sure on how to get total number of tokens

[2022-07-16 19:50] mayank31398 opened #314 "How to run generation?"
How can I run generation for the models?

Huggingface:
I understand that I can run generation from huggingface.
Does HF support 175B BLOOM?
And does it need 8 GPUs for tensor parallel?

Deepspeed:
Can I run generation using a deepspeed checkpoint or do I need to convert it to vanilla megatron/transformers before running generation?

[2022-07-18 04:58] mayank31398 opened #315 "Question about downloading checkpoints"
Does BigScience also provide the original BLOOM checkpoints (without conversion to Huggingface 🤗).
I am working on finetuning BLOOM and I need those checkpoint files.

[2022-07-18 11:51] mayank31398 commented on #315
@stas00 this is blocking my team. Can someone help?

[2022-07-19 20:35] asaparov opened #317 "Question: How to run multi-node inference?"
I was wondering how to perform multi-node inference? I'm very interested in running some experiments on Bloom (specifically probing its ability to reason). The high-level descriptions of Zero and DeepSpeed Inference indicate that multi-node inference is supported, but the examples I've found so far are only of multi-node _training_.

I really appreciate any tips or pointers!

[2022-07-21 00:12] mayank31398 commented on #315
Thanks for the discussion: https://huggingface.co/bigscience/bloom/discussions/54
TLDR: Download DS checkpoints at https://huggingface.co/bigscience/bloom-optimizer-states

[2022-07-21 00:12] #315 closed

[2022-07-21 05:00] asaparov opened #318 "Multi-node inference with Bloom: Unhandled CUDA error in ProcessGroupNCCL.cpp (called from all_reduce in torch)"
I am trying to get multi-node inference working with 4 nodes, each with 4xRTX8000 GPUs (48GB per GPU).
`deepspeed --hostfile=$hostfile [Megatron-DeepSpeed/scripts/inference/bloom-ds-inference.py](https://github.com/bigscience-workshop/Megatron-DeepSpeed/blob/bloom-inference/scripts/inference/bloom-ds-inference.py) --name bigscience/bloom`.

The script finishes loading all the checkpoints and begin

[2022-07-21 05:02] asaparov commented on #317
I was able to get deepspeed to perform inference instead of training in the multi-node setting on SLURM, but I ran into a different error. I'll open a different issue for that (#318).

[2022-07-21 05:02] #317 closed

[2022-07-22 14:26] mayank31398 commented on #314
#308 is the issue around this. Can't wait for bloom-inference branch to get merged into main
😄

[2022-07-22 14:26] #314 closed

[2022-07-23 04:38] xuyifanbupt opened #319 "where can I download the 176B checkpoint in deepspeed format?"
Hello, I used the 176B checkpoint of bloom-176B(https://huggingface.co/bigscience/bloom), but had problem in resolving the layer files. Should I download different type of checkpoint to use in this repo, or what code should I use to run the evalution based on bloom-176B checkpoint/
Thanks a lot.

[2022-07-23 05:51] xuyifanbupt commented on #319
@stas00

[2022-07-23 06:08] stas00 commented on #319
What are you after the bf16 weights split across TPs?

or the optim states - that's 2.3TB of data!

I don't know what: "had problem in resolving the layer files" means and how you were loading the model - it just work with just `AutoModel.from_pretrained("bigscience/bloom")`

[2022-07-23 06:19] xuyifanbupt commented on #319
I used this:
`CHECKPOINT_PATH="/mnt/yrfs/aohan/checkpoints/bloom"
VARIANT="bloom-176B"

TP_SIZE=1
PP_SIZE=1

EVAL_MICRO_BATCH_SIZE=6
SEQ_LEN=2048

MEGATRON_REQUIRED_ARGS=" \
    --num-layers -1 \
    --hidden-size -1 \
    --num-attention-heads -1 \
    --seq-length -1  \
    --max-position-embeddings -1
"

CMD="./tasks/eval_harness/evaluate.py  \
    --load $CHECKPOINT_PATH \
    --results_path $

[2022-07-23 06:22] xuyifanbupt commented on #319
I would like to evaluate bloom-176B on MMLU, Big-Bench, FewCLUE

[2022-07-23 15:07] stas00 commented on #319
ok, so you do want the original weights - got it - we have a script that converts from Meg-DS to HF, but not the other way around.

I will ask if we can release the Meg-DS weights on the hub.

[2022-07-23 18:21] xuyifanbupt commented on #319
thanks a lot.  It looks like I can only use HF checkpoint now.
But I face a problem while using it.
I have a machine with 8*A100, and i would like to use bloom-176B to generate text, and apply evaluation on different datasets. I use the code in bigscience-workshop/bigscience/sortval repo,bigscience/evaluation/generation/generate.py. But this code only allows the model to run on a graphics card.
Ap

[2022-07-23 22:02] asaparov commented on #318
@stas00

[2022-07-24 04:00] xuyifanbupt commented on #95
hi,I faced the similar problem as yours.
I have a machine with 8*A100, and i would like to use bloom-176B to generate text, and apply evaluation on different datasets. I use the code in bigscience-workshop/bigscience/sortval repo,bigscience/evaluation/generation/generate.py. But this code only allows the model to run on a graphics card.
Apperently single A100 is not enough:
RuntimeError: CUDA out

[2022-07-24 05:48] stas00 commented on #319
Please see: https://github.com/bigscience-workshop/Megatron-DeepSpeed/pull/308

[2022-07-24 05:54] stas00 commented on #318
Yeah, I get that too when I try to load too much of a batch size. But if you're running my script its default is bs=1 so shouldn't really be a problem.  I haven't tried it on your setup. But the issue is on the DS-Inference side.

@RezaYazdaniAminabadi, as you can see both I and many others run into this issue - could we change the kernel code to be more defensive? It's always the same ` group.all

[2022-07-24 07:48] RezaYazdaniAminabadi commented on #318
Hi @stas00 ,

Thanks for tagging me here. I will definitely look into this and try to fix it soon.

Best,
Reza

[2022-07-25 15:28] stas00 commented on #319
The original Meg-DS checkpoint is here: https://huggingface.co/bigscience/bloom-optimizer-states

[2022-07-25 23:20] stas00 commented on #318
@asaparov, please run the following 2 experiments

1. same set up as your but add: `CUDA_LAUNCH_BLOCKING=1` as in:

[code]

and let's see if it starts working

2.  does it fail in the same way if you use "bigscience/bloom-1b3" - just to check that it's the issue with size and not the setup/system. But don't use `CUDA_LAUNCH_BLOCKING=1` this time. That is:

[code]

Thank you!

[2022-07-26 16:32] asaparov commented on #318
It seems to be working with `CUDA_LAUNCH_BLOCKING=1`!

[2022-07-26 16:36] stas00 commented on #318
Thank you for reporting back, @asaparov! You may use this way for now, it will be just a tad slower, until the underlying issue is resolved. The difficulty is in reproducing it.

@RezaYazdaniAminabadi, so @asaparov's success with `CUDA_LAUNCH_BLOCKING=1` is pointing to some unsynchronized code in the kernels. As I proposed yesterday.

[2022-07-26 20:40] asaparov commented on #318
@stas00 Actually I just tested both `bigscience/bloom` and `bigscience/bloom-1b3` without `CUDA_LAUNCH_BLOCKING=1` and they both work. This is probably because I pulled newer code from the `bloom-inference` branch of this repo ([commit b76e516](https://github.com/bigscience-workshop/Megatron-DeepSpeed/commit/b76e516611f5a694c44b86a3e4306cdce09c767a)) and the code from the `ds-inference/bloom-fix`

[2022-07-26 21:12] stas00 commented on #318
I suspect that the bug is intermittent as it pops up in various situations and inconsistent. But if it works at the moment for you that's great!

Yes, the `save_mp_checkpoint_path` was just added and still being fixed up.

It basically allows you to set the tp-sharded path and then it'll save the new checkpoint - and the load time from it will be 1-2min instead of 10-20min. You may want to give it

[2022-07-27 00:57] RezaYazdaniAminabadi commented on #318
Hi @asaparov

It's great to see your issue is solved. As @stas00 mentioned the part regarding the new checkpoint loading is coming soon too.
@stas00, thanks for full details here :)

Best,
Reza

[2022-07-27 04:09] pai4451 commented on #318
@asaparov Can you share your code for inference BLOOM or give me an idea which inference repo did you use? I have the same hardware requirements as yours but I can’t get rid of CUDA errors even adding CUDA_LAUNCH_BLOCKING=1. Also did you set the environment variable WORLD_SIZE?

[2022-07-27 05:48] asaparov commented on #318
I didn't change any code from this repo at all. I followed the installation instructions in the [readme](https://github.com/bigscience-workshop/Megatron-DeepSpeed/blob/main/README.md). I invoke the inference script using:
`deepspeed --hostfile=$hostfile Megatron-DeepSpeed/scripts/inference/bloom-ds-inference.py --name bigscience/bloom`

I'm running everything in a conda environment in a singularit

[2022-07-27 07:18] pai4451 commented on #318
@asaparov Thanks for the details. I can finally inference BLOOM with DeepSpeed on multiple nodes now. However, it only works for `batch_size=1`, and when I increase the batch size error message `RuntimeError: CUDA error: an illegal memory access was encountered` throw out again. Can you inference with batch size more than 1?

[2022-07-27 08:01] mayank31398 commented on #318
Hmm, its not working for me even within a single node with batch size = 1, 8x A100 80gb

[2022-07-27 09:06] pohunghuang-nctu commented on #318
See if "NCCL WARN Call to ibv_reg_reg_mr failed" appearing on your log. In my case, we modify /etc/security/limits.conf to resolve it. you could find detail here. https://docs.nvidia.com/deeplearning/nccl/user-guide/docs/troubleshooting.html

But also only work for batch size == 1

[2022-07-27 09:26] mayank31398 commented on #318
@pohunghuang-nctu nothing like that in my logs
This is the full trace
[code]

[2022-07-27 13:50] asaparov commented on #318
I get the same error for batch size > 1:
[code]

[2022-07-27 13:54] pai4451 commented on #318
@asaparov At least this is reproducible, thank you.

[2022-07-27 13:58] mayank31398 commented on #318
I am not sure why I am getting the same error ^^ for batch size = 1.
Any pointers?

[2022-07-27 14:04] pai4451 commented on #318
What is your CUDA version and DeepSpeed? I personally had CUDA11.5 and DeepSpeed 0.7.0 installed from `ds-inference/bloom-fix` branch, and I can inference BLOOM with batch size equal to 1 on two nodes.

[2022-07-27 14:07] mayank31398 commented on #318
I am using CUDA-11.6 and deepspeed is built from master

[2022-07-27 14:08] asaparov commented on #318
Perhaps try the `ds-inference/bloom-fix` branch of deepspeed?

[2022-07-27 14:16] mayank31398 commented on #318
Ill try this today. thanks

[2022-07-27 19:17] asaparov commented on #318
Actually, I just tried running with larger batch sizes (16 and 32) and it doesn't run into the "CUDA illegal memory access" error (as I did with batch size=2). Maybe it is intermittent? Or maybe something's wrong with batch size 2 specifically.

[2022-07-28 01:17] pohunghuang-nctu commented on #318
We (with @pai4451) tried batch_size from 8 to 2, all of them failed. but yet try batch_size > 8. Pai will test it today to see what happen in our side.

[2022-07-28 02:53] pai4451 commented on #318
@asaparov I tried the inference script with batch sizes = 1, 2, 4, 8, 16, 32, 64 and 128. Only batch sizes equal 1 and 32 work, which is a bit surprising. Anyways we’ll have to wait someone to fix the issue in this repo.

[2022-07-28 14:24] tianjianjiang opened #320 ""Mask is silently ignored due to the use of a custom kernel" with pretrain_gpt_single_node.sh"
## Update

The issue turned out to be DeepSpeed usages of `pretrain_gpt_single_node.sh`.
I will make a pull request soon.

## Original Report

Please let me know what details I shall provide, thank you!

Python 3.7.12
pt=1.11.0+cu113, cuda=11.3

Using `pretrain_gpt_single_node.sh` with the instructions on README:
[code]

Also tried `--no-masked-softmax-fusion` but no differences except the line.
[

[2022-07-29 06:35] RezaYazdaniAminabadi commented on #318
Hi all,

There are some new changes merged at DeepSpeed master. Would you mind trying that?
I have tried with batch 1 and 128 and both are working on my side (I ran it on 8 A100 80GB). I will try on A100-40G as well to make sure all is fine.
Also, you can now generate MP-sharded checkpoints to load the model much faster. You can find more information in this PR: https://github.com/microsoft/DeepSp

[2022-07-29 09:26] pohunghuang-nctu commented on #318
@RezaYazdaniAminabadi could you give some hint (where to get the doc) about "generate MP-sharded checkpoints"? So far we have only the 70 .bin files downloaded from huggingface. Do you mean there's a tool re-formatting these 70 files into world-size pieces to speed up model loading? Thanks in advance.

[2022-07-29 16:02] RezaYazdaniAminabadi commented on #318
Hi @pohunghuang-nctu

Sure, you need to pass `save_mp_checkpoint_path` to the `init_inference` method in order to save the tp-sharded checkpoints in the path you specified. You will see that after loading the checkpoint, DeepSpeed starts saving the new checkpoints, and you will eventually have the tp-sharded checkpoints. In addition, there will be a json config file saved in that path (like bloom_

[2022-07-29 17:17] zcrypt0 commented on #318
@RezaYazdaniAminabadi I was testing with the newly merged code last night but still hit the illegal memory accesses intermittently. It wasn't like throwing a dice though, it would work for like a half hour and then stop working for another block of time and then start working again.

For the first time I was able to use some larger batch sizes though (at least part of the time), so something seems

[2022-07-29 18:48] RezaYazdaniAminabadi commented on #318
I am glad you could run it with large batch now! :)
I think this might be related to some cache allocation issues. We are working on optimizing that part too.

[2022-08-02 09:03] misska1 opened #323 "Question about downloading checkpoints of 6.3B，2.5B，1.3B"
Does BigScience also provide the original BLOOM checkpoints (without conversion to Huggingface 🤗).
I am working on finetuning BLOOM (6.3B，2.5B，1.3B) and I need those checkpoint files.
[issues/315](https://github.com/bigscience-workshop/Megatron-DeepSpeed/issues/315)

In [https://github.com/bigscience-workshop/bigscience/tree/master/train/tr1-13B-base](url) ,I found some urls but they are all offli

[2022-08-03 13:25] thies1006 opened #324 "Errors in generation Bloom when changing options sampling/use_cache"
I'm running the inference script `bloom-ds-inference.py` by invoking:
`deepspeed --num_gpus 1 ~/Megatron-DeepSpeed/scripts/inference/bloom-ds-inference.py --name bigscience/bloom-1b3 --benchmark`, but I change the generation arguments to `generate_kwargs = dict(max_new_tokens=num_tokens, do_sample=False, use_cache=False)` (adding use_cache option).

Error:
[code]

When using `generate_kwargs = dic

[2022-08-03 13:53] thies1006 commented on #324
The second error appears very sporadically (after thousands of cycles) as well when only using `generate_kwargs = dict(max_new_tokens=num_tokens, do_sample=True)`, but only (I think) when changing the input between each cycle, e.g. using:
[code]

[2022-08-04 01:16] pai4451 commented on #318
@RezaYazdaniAminabadi I used the master branch of DeepSpeed to run the inference script. But this illegal memory access is still occurring when input prompt is long for batch size 1. For larger batch sizes, I can inference from 8 up to 32. But somehow the illegal memory error appeared for batch size 2 and 4.

[2022-08-04 01:19] pai4451 commented on #324
I had the same issue. On my side this illegal memory access error only happens for batch size 2 and 4, but with batch size 8 to 32 I can run the inference script. For batch size 1, I observed that this error is intermitted, it only happens when I have a longer input.

[2022-08-04 14:31] malteos commented on #323
You can convert the HF checkpoints back to Megatron-DeepSpeed. See this (a bit hacky) script: https://gist.github.com/malteos/c194368594e16439c101b7bf27195fd1

[2022-08-05 06:19] misska1 commented on #323
Thank you for your answer! However , in your code ,I need to specify  a DeepSpeed checkpoint.
[code]
But I do not have a DeepSpeed checkpoint for (6.3B，2.5B，1.3B) to compare.

[2022-08-05 06:42] malteos commented on #323
The script updates the weights of Deepspeed checkpoint directly on the disk with the weights from a HF checkpoint. So you just need to save an untrained DS checkpoint and update it afterwards. You can use the existing slurm scripts for that and only set the number of train steps to 1.

[2022-08-05 12:53] thies1006 commented on #324
Thanks @pai4451. To follow up, my impression is that the script works fine for short texts, but when it comes to longer ones (>200 tokens) it more likely to crash. For me it crashes for all batch sizes I tried (1, 2, 4, 8), the error message is not always the same however.
The problem with the sampling was on my side. I guess I ended up with the same problem as in #318.

[2022-08-07 12:13] mayank31398 commented on #319
@xuyifanbupt if you are trying to deploy BLOOM 176B as a server deployment, you can find [here](https://github.com/bigscience-workshop/Megatron-DeepSpeed/pull/321)

[2022-08-10 07:14] KMFODA commented on #163
Hey @thomasw21. Is this still needed? If so I'd love to take it on.

[2022-08-10 07:50] thomasw21 commented on #163
Hey! We have finished training BLOOM so the tensorboard integration might not be required anymore. However I think having a generation engine in Meg-DS would he greatly appeciated as we currently rely on our `transformers` converted checkpoint to generate

[2022-08-10 10:50] asafkar commented on #319
Hi @stas00,
Besides the optimizer states, is there an equivalent checkpoint for inference that is in the Meg-DS format, which I can use with deepspeed inference, in order to run inference with Pipeline parallelism?
As far as I understand, currently with the HF weights, I would have to re-write the model so it could pipelined, and possibly need to write a custom script to load the weights to the al

[2022-08-10 18:25] mayank31398 commented on #319
@asafkar , the ds inference script is compatible with HF checkpoints.

[2022-08-10 19:11] asafkar commented on #319
@mayank31398 I was actually referring to the other way around -
i.e. I want to do ds inference, while using pipeline parallelism.

For that to work (if I understand correctly), I would have 2 options -
1. Load the HF checkpoint, and then restructure it for the layers to be sequential (as done [here](https://github.com/microsoft/DeepSpeedExamples/blob/master/pipeline_parallelism/train.py#L131)). I'

[2022-08-10 19:48] stas00 commented on #319
https://huggingface.co/bigscience/bloom-optimizer-states

[2022-08-11 02:13] pohunghuang-nctu commented on #324
@RezaYazdaniAminabadi  Hi, I have tested [https://github.com/microsoft/DeepSpeed/pull/2196](https://github.com/microsoft/DeepSpeed/pull/2196) but it seems not resolving the issue of "illegal memory access" at our side.

[2022-08-11 02:26] mayank31398 commented on #324
@pohunghuang-nctu can you confirm your cuda version?
I was using 11.6 and getting the same issue.
Using 11.3 resolved it for me. Please give it a try.
Thanks

[2022-08-11 07:43] pohunghuang-nctu commented on #324
@mayank31398  We're in pytorch 1.11 + cuda 11.5, and how about your pytorch version?

[2022-08-11 14:54] stas00 commented on #319
@asafkar, so it looks like I created the new repo for nothing, the https://huggingface.co/bigscience/bloom-optimizer-states was already the full checkpoint. Why did you say it only had optim state files and not the rest of the files? They should be all there.

The listing is limited at the moment to just 50 entries so one can't see the remainder of the files on the hub, I made a request to amelior

[2022-08-11 16:04] mayank31398 commented on #319
Wait @asafkar does DS-inference support pipeline parallelism?
I thought it was only tensor parallel for generation

[2022-08-11 16:05] mayank31398 commented on #324
@pohunghuang-nctu I have PyTorch installed using conda (with CUDA 11.3) and DeepSpeed and apex have been installed from master branch using CUDA 11.3

[2022-08-11 19:07] stas00 commented on #319
- DS-Inference = TP
- DS-ZeRO = TP-like
- Accelerate = PP
- Megatron-Deepspeed = TP+PP

(plus DP in all)

[2022-08-11 19:36] asafkar commented on #319
@stas00 I haven't checked the https://huggingface.co/bigscience/bloom-optimizer-states repo yet, I was merely asking whether it will support what I'm trying to do - I'm sorry if I wasn't clear enough about it.
I will give it a shot and let you know.

@mayank31398 regarding DS-inference, https://arxiv.org/pdf/2207.00032.pdf clearly states that they support PP, so I thought it should be covered by t

[2022-08-12 09:43] yayaQAQ opened #329 "how to convert huggingface model to megatron-deepspeed?"
as title said.

[2022-08-12 14:41] mayank31398 commented on #329
This is not possible.
To download DS checkpoints refer to this issue:
https://github.com/bigscience-workshop/Megatron-DeepSpeed/issues/319

[2022-08-13 03:24] yayaQAQ commented on #329
why? So I have to training from the ground up?
It's hard.

[2022-08-13 03:44] pai4451 commented on #324
@mayank31398 Thanks for the information. Can I confirm that you no longer encounter the illegal memory access error with CUDA 11.3 and the latest build from master branch DeepSpeed for the following two cases?
1. long input tokens with batch size 1
2. batch size > 1
after installing DeepSpeed [microsoft/DeepSpeed](https://github.com/microsoft/DeepSpeed/pull/2196#issue-1332501624) and CUDA 11.3?

I

[2022-08-13 08:31] mayank31398 commented on #324
I haven't played around that much with it.
But batch size >1 is working for me.

[2022-08-13 08:33] mayank31398 commented on #324
I only have a single node with 8 GPUS 80GB each.
Are you using pipeline parallel across nodes? Does DS-inference support that?

[2022-08-13 08:50] mayank31398 commented on #329
I don't understand the issue. Do you just need to run inference?
If that is the case, DS-inference is compatible with all Huggingface models.

[2022-08-13 21:21] RezaYazdaniAminabadi commented on #324
@pai4451
Currently, I limit the token-length for each query to 128. I am gonna increase this soon. But, can you try with smaller length and see if the issue is resolved? Thanks

[2022-08-13 21:22] RezaYazdaniAminabadi commented on #324
Regarding the batch size, I have tried with 128 batch and it was working fine on my side.

[2022-08-14 14:18] pai4451 commented on #324
@mayank31398 Thanks. I just launched DeepSpeed with an additional `hostfile` argument to run on multiple nodes.

@RezaYazdaniAminabadi Yeah, no error will happen when I use input tokens 128 and batch size one. But I found that input tokens longer than 600 will lead to illegal memory access on my two nodes server, with each node having 8x A6000. About different batch sizes, I found that I can run t

[2022-08-15 01:23] pohunghuang-nctu commented on #324
1. DS-inference supports multi-node with no doubt.
2. Deepspeed MII do NOT support multi-node, because the way calling deepspeed was hardcoded as using "--num_gpus". We have did some customization to allow it accept hostfile to spawn processes into multi-nodes.

[2022-08-15 02:24] mayank31398 commented on #324
@pohunghuang-nctu @pai4451 thanks for letting me know about the multi-node deployment.
I am guessing this would be using pipeline parallelism?
However, what are the advantages of using multi-node during inference?
I am guessing this would be slower than a single node 8x A100 80 GB GPUs right?

[2022-08-15 08:02] KMFODA commented on #163
I see I'd like to help with that then. Where would be the best place for having that generate engine?

[2022-08-15 09:58] mayank31398 commented on #163
@KMFODA @thomasw21 , https://github.com/bigscience-workshop/Megatron-DeepSpeed/pull/328
Already added the ability to benchmark system, interactive cli, and a generation server.
Testing a few things.
Will try to get this merged by this week

[2022-08-15 10:00] mayank31398 commented on #163
Just fixing an error :)

[2022-08-16 01:15] pai4451 commented on #324
@mayank31398 I don’t think there is much advantage on using multi-node for inference. We need multi-node for inference just because we only have 8x A6000 48GB servers.

[2022-08-16 03:34] pai4451 opened #330 "DeepSpeed inference support for int8 parameters on BLOOM?"
Recently, HuggingFace `transformers` has a new feature on [int8 quantization](https://github.com/huggingface/transformers/pull/17901) for all HuggingFace models. This feature could reduce the size of the large models by up to 2 without a high loss in performance. Is it possible for DeepSpeed inference to support int8 quantization for BLOOM? According to the [DeepSpeed inference tutorial](https://w

[2022-08-16 08:31] mayank31398 commented on #330
@pai4451
https://www.deepspeed.ai/docs/config-json/#weight-quantization
You can't use it that way. Please refer to this config.
Let me know if it works ;)

[2022-08-16 08:32] mayank31398 commented on #330
As an alternative, you can use it in accelerate. I haven't tried it either though.

[2022-08-16 08:39] thomasw21 commented on #163
IMO this issue is different, we want to have a inference mechanism from Meg-DS, without having to convert to `transformers`. The context was that we were training in Meg-DS and had no way to "test" the model until we built the `transformers` skeleton, convert the weights and then leverage `transformers` inference mechanisms.

I'm not sure what you're asking, probably in this repo?

[2022-08-16 12:00] pai4451 commented on #324
May I ask about your `transformers` and `deepspeed` versions? I just found that using the lastest master branch of `transformers` makes illegal memory access even worse.

[2022-08-16 14:11] mayank31398 commented on #324
I built deepspeed from source (master branch). Also, transformers is 4.20
transformers (4.21.1) installed using pip

[2022-08-16 16:01] KMFODA commented on #163
Sorry. I'm new to this repo. I meant to ask where in the repo itself should this generate engine live?

[2022-08-16 16:11] mayank31398 commented on #163
Hmm, @thomasw21
so, the PR I referred to above uses both HF accelerate and DS-inference libraries, depending on what we want to infer with.
But it does require transformers version of BLOOM

[2022-08-16 16:12] mayank31398 commented on #163
@KMFODA currently, I am planning to create a standalone library. For now, I am adding to this repo itself.

[2022-08-16 16:34] thomasw21 commented on #163
I mean you can probably create a `megatron/inference` folder.

[2022-08-16 17:49] mayank31398 commented on #163
@thomasw21 , I am not sure how this differs from the PR I pointed above ^^. Can you explain?

[2022-08-16 21:18] thomasw21 commented on #163
If you don't have `transformers` skeleton (ie `modeling`) how would one be able to use `transformers` or `DS-inference`?

[2022-08-16 22:27] mayank31398 commented on #163
oh, I think I understand the issue now.
Maybe something like loading from the universal checkpoints and running inference etc?

[2022-08-17 08:10] thomasw21 commented on #163
@mayank31398 yup! Essentially this is what this issue is about.

[2022-08-18 10:18] AnShengqiang commented on #329
Hello, I have the same problem.

I want to load the model on Huggingface as a pre-training model weight and continue the training using the Megatron Deepspeed framework.

But I found that I didn't know how to convert the weight of Huggingface into the weight of Megatron Deepspeed.

I look forward to your help. Thank you.

[2022-08-18 11:28] AnShengqiang commented on #329
By the way:

model structure: gpt
model link: https://huggingface.co/TsinghuaAI/CPM-Generate

I want to train the model with 4 pipeline parallel and deepspeed.

[2022-08-18 15:37] thies1006 commented on #324
On my side I still get the error `RuntimeError: CUDA error: an illegal memory access was encountered` (with 128 input tokens, Cuda 11.3 and batch size 1). However, my impression is that it gets more rare with lower number of input tokens.

deepspeed info ................... 0.7.1+9b418c1e, 9b418c1e
deepspeed wheel compiled w. ...... torch 1.11, cuda 11.3

[2022-08-19 00:13] mayank31398 commented on #329
@AnShengqiang Its non-trivial to convert models for training.
People are actively exploring this as far as I know.
This repository saves something called a universal checkpoint which can be converted to other checkpoints.
However, I am quite new here so, I don't really know how that works.

[2022-08-19 00:15] mayank31398 commented on #324
I haven't tried adjusting input tokens @thies1006
But I can confirm, I ran with input text = "Hello" and generated tokens from 10, 50, 100, 300, 500, 1000, 2000, 5000. And it didn't crash for me in any scenario.

[2022-08-19 01:43] AnShengqiang commented on #329
Thank you for your reply, I will go to find the answer, if there is good news, I will put it here.

[2022-08-19 05:02] pai4451 commented on #324
@mayank31398 From my impression, it’s the number of input tokens that matters the `illegal memory access error` instead of the number of generated tokens. I can also generate two to three thousand tokens without issue when input is short. But when I increase the input sequence to certain amount (in my case above 600 token) these errors happened all time.

Maybe if you have some time you could have

[2022-08-21 01:22] mayank31398 commented on #324
I see @pai4451. Ill give it a shot.

[2022-08-22 08:37] thies1006 commented on #324
Probably related: https://github.com/microsoft/DeepSpeed/issues/2062

[2022-08-24 14:30] felix-schneider commented on #324
I am having a similar error running the model on 4 4xA100 40GB cards with batch size 1. After about 18 examples, I get the Cuda illegal access error. This does not seem to be closely related to the sequence length though, because it happens at about the same time whether use priming examples or not (which increases the prompt length significantly).

[2022-08-25 03:52] misska1 opened #333 "About convert DS checkpoint to Transformers"
[code]

[code]

I did not get any zero file while saving checkpoint in pretrain.

[2022-08-25 13:54] mayank31398 commented on #324
@RezaYazdaniAminabadi any followup on this?
I am facing similar CUDA issues with longer sequence lengths.

[2022-08-25 16:34] RezaYazdaniAminabadi commented on #324
Hi @mayank31398,

I am still working on this. Can I ask what an average maximum number of tokens for an input would be? Potentially, this can go to as many tokens as user requests, but unfortunately there is a limit on what can be cached.
Thanks,
Reza

[2022-08-26 01:44] mayank31398 commented on #324
@RezaYazdaniAminabadi I am also not sure but BLOOM is trained using ALiBi, ideally there should be no limit.
I understand that this might not be possible.
But GPT-3 allowed input + generated tokens = 4000 tokens. Is that a target you think might be possible?

[2022-08-26 05:17] CloudedLeopard17 opened #334 "Can we also train BLOOM model using tensor using tensor-Parallelism and efficient fused CUDA kernels"
Hi,

Thanks for the great work. I was able to do Inference on BLOOM 7.1 model on 24 GB GPU memory. Can we train the BLOOM models using tensor-Parallelism and efficient fused CUDA kernels? As I don't have access to high memory.

[2022-08-26 07:37] pai4451 commented on #324
@RezaYazdaniAminabadi I can share my findings. I use two 8x A6000 (48G) nodes for inference, and when the input tokens more than 600 it will always lead to the CUDA illegal memory access error.

[2022-08-27 10:31] mayank31398 opened #335 "Changing a single example affects forward pass for other examples in a batch"
@stas00 , I wrote this script to do get the conditional NLL for the labels given the context.
Tried different batches with only the first example changing and rest of the examples fixed in the batch. However, after a certain point, the changing of first examples, affects the NLL for other examples.

This is not supposed to happen.

[code]

Output:
[code]
Value drops from 3.29 to 3.28 in column 2 w

[2022-08-29 08:19] mayank31398 commented on #334
I don't think you will be able to do this on 24GB GPU. I am guessing you are using a RTX 3090?
You can give it a try.

[2022-08-29 08:22] mayank31398 commented on #330
@pai4451 https://github.com/bigscience-workshop/Megatron-DeepSpeed/pull/328#discussion_r954402510
you can use these instructions for quantization.
However, this is a barebones script.
I would encourage to wait for this PR: https://github.com/bigscience-workshop/Megatron-DeepSpeed/pull/328
Planning to add server + CLI inference + benchmarking support using accelerate and ds inference both. This wil

[2022-08-29 08:22] #330 closed

[2022-08-29 15:25] CloudedLeopard17 commented on #334
I am using 2x A5000 GPUs. I was able to train the T5 xl model using tensor-Parallelism.

[2022-08-29 15:56] stas00 commented on #335
@mayank31398, I think it'd be much better to file this issue with transformers, since this code isn't Mega-DS-related.

I know several folks have been tweaking the bloom modeling code a lot recently, so you may want to tag them on that (peek into the history of https://github.com/huggingface/transformers/blame/main/src/transformers/models/bloom/modeling_bloom.py)

[2022-08-29 21:35] mayank31398 commented on #334
Did you use megatron?
Or does deepspeed has support for tensor parallel?

[2022-08-29 21:37] mayank31398 commented on #335
Thanks, I will do that.
Closing this issue here.

[2022-08-29 21:37] #335 closed

[2022-08-29 21:53] mayank31398 commented on #335
Filed this issue https://github.com/huggingface/transformers/issues/18809

[2022-08-29 21:56] stas00 commented on #335
FYI: I have re-tagged that new issue to those who have been actively tweaking the model, so they are the best to talk to.

[2022-08-30 01:35] pai4451 commented on #330
@mayank31398 I am running my server without Internet available so I can’t use `snapshot_download` from the hub. Also I am running on two nodes with 16 GPUs so I need a total of 16 shards checkpoints instead of the 8 shards provided by `microsoft/bloom-deepspeed-inference-int8`. I can convert by myself with the old FP16 weights but for int8 the following error occurs
`NotImplenentationError: Cannot

[2022-08-30 02:49] mayank31398 commented on #330
Quantization with int8 requires knowledge distillation and might need significant compute.
Read the zeroquant paper.
I would suggest to get intenet access on the node if you can.
I dont know how to quantize yourself.
Int8 might work on a single node with 8 gpus for you. Can you give it a shot?

[2022-08-30 02:51] mayank31398 commented on #330
Also, can you provide me the ds config you use to run on 16 gpus?
I dont know how to reshard for pipeline parallel.
Do you save the resharded weights?
Or reshard every time?

[2022-08-31 08:25] AnaRhisT94 opened #337 "Finetuning BLOOM"
Hi,

What's the process in finetuning BLOOM?
Did anyone succeed and willing to share the code?

Thanks!

[2022-09-01 07:10] henan991201 opened #338 "About convert deepspeed to deepspeed checkpoint"
In training, I used swiglu, TP=4, PP=2. I use deepspeed_to_deepspeed.py to convert the checkpoint to a TP=1, PP=1 one. When evaluating the obtained checkpoint, it is found that the accuracy is inconsistent with the previous one.
（When I do not use swiglu, I can get the correct checkpoint）

[2022-09-01 09:56] mayank31398 commented on #338
This is expected behaviour @henan991201
When you reshard the model, the order of operations change.
And floating point operations are not associative
Refer to https://github.com/pytorch/pytorch/issues/76232

[2022-09-01 09:57] mayank31398 commented on #338
But i am not sure why this is happening with only swiglu

[2022-09-01 10:39] henan991201 commented on #338
In my experiment, if I use swiglu, I also find that I need to set TP=4 and PP=2 in the evaluation script in order to get results,  otherwise, I will get results that are totally wrong (like randomly selected).
When I convert the checkpoint from TP=4 PP=2 to TP=1 PP=1, if I use swiglu, I will get wrong results after evaluation, but if I use gelu, I can get correct results.

[2022-09-01 11:00] henan991201 commented on #338
GPUS_PER_NODE=8
NNODES=1

TP_SIZE=4
PP_SIZE=2

MICRO_BATCH_SIZE=16
GLOBAL_BATCH_SIZE=256

NLAYERS=24
NHIDDEN=1024
NHEADS=16
SEQ_LEN=2048

SAVE_INTERVAL=500

TRAIN_SAMPLES=220_000_000
LR_DECAY_SAMPLES=200_000_000
LR_WARMUP_SAMPLES=183_105

OPTIMIZER_ARGS=" \
    --optimizer adam \
    --adam-beta1 0.9 \
    --adam-beta2 0.95 \
    --adam-eps 1e-8 \
    --lr 3.0e-4 \
    --min-lr 1e-5 \
    --lr-dec

[2022-09-01 11:01] henan991201 commented on #338
GPUS_PER_NODE=8
NNODES=1

TP_SIZE=4
PP_SIZE=2

MICRO_BATCH_SIZE=16
GLOBAL_BATCH_SIZE=256

NLAYERS=24
NHIDDEN=1024
NHEADS=16
SEQ_LEN=2048

SAVE_INTERVAL=500

TRAIN_SAMPLES=220_000_000  # 450B tokens
LR_DECAY_SAMPLES=200_000_000  # Decay for the first 410B tokens then continue at fixed --min-lr
LR_WARMUP_SAMPLES=183_105  # 375M tokens

OPTIMIZER_ARGS=" \
    --optimizer adam \
    --adam-beta1 0.9 \

[2022-09-01 11:07] henan991201 commented on #338
GPUS_PER_NODE=8
NNODES=1

TP_SIZE=4
PP_SIZE=2

MICRO_BATCH_SIZE=16
GLOBAL_BATCH_SIZE=256

NLAYERS=24
NHIDDEN=1024
NHEADS=16
SEQ_LEN=2048

SAVE_INTERVAL=500

TRAIN_SAMPLES=220_000_000
LR_DECAY_SAMPLES=200_000_000
LR_WARMUP_SAMPLES=183_105

OPTIMIZER_ARGS=" \
    --optimizer adam \
    --adam-beta1 0.9 \
    --adam-beta2 0.95 \
    --adam-eps 1e-8 \
    --lr 3.0e-4 \
    --min-lr 1e-5 \
    --lr-dec

[2022-09-02 01:54] mayank31398 commented on #337
Hi,
I am not sure but in the original megatron code, there was an argument (don't remember the name) that resets the optimizer, dataloader etc which.you could use to do finetuning. Not sure if that is present or works in this repo.

[2022-09-02 06:19] cdj0311 opened #341 "pretrain_gpt_distributed.sh ERROR!"
Hi,
    I run pretrain_gpt_distributed.sh to pretrain gpt2, but get an error as follows, what's the problem?

Loading extension module fused_mix_prec_layer_norm_cuda...
[610867610e4b:2498 :0:2599] Caught signal 7 (Bus error: nonexistent physical address)

 0 0x0000000000014420 __funlockfile()  ???:0
 1 0x000000000018bb41 __nss_database_lookup()  ???:0
 2 0x000000000006929c ncclGroupEnd()  ???:0
 3

[2022-09-02 09:07] philippmtk commented on #226
Hi, Thanks for providing these amazing Bloom model!
Just a quick question, whether someone has ensured the Deepspeed and Huggingface checkpoints lead to identical outputs?

[2022-09-02 12:03] mayank31398 commented on #226
Hi @philippmtk unfortunately they don't lead to indentical outputs.
Unfortunately, resharding checkpoints changes the order of operations and this is a problem with floating point arithmetic.
fp operations are not associative.
Please refer to this issue:
https://github.com/pytorch/pytorch/issues/76232

[2022-09-03 01:58] henan991201 commented on #338
@mayank31398

[2022-09-03 06:39] #341 closed

[2022-09-03 17:16] gordicaleksa opened #342 "Installing Apex on Windows"
Hi folks!

Did anyone encounter [this error](https://github.com/NVIDIA/apex/issues/1458) when installing Apex on Windows?

Pasting it here as well:
[code]

[2022-09-03 18:00] mayank31398 commented on #342
@gordicaleksa , I think everyone is using Linux here.
+ this is not the correct place to ask this.
Please create an issue [here](https://github.com/NVIDIA/apex)

[2022-09-07 12:19] henan991201 opened #343 "About reshape deepspeed checkpoint"
I want to ask why we can not reshape tp and pp to a bigger number? Thanks for any reply.

[2022-09-08 08:15] cdj0311 opened #346 "How to inference GPT2 with DeepSpeed?"
Hi,
    I only found bloom model inference in scripts, but how to inference GPT2 with deepspeed which trained with Megatron-DeepSpeed?
    I convert megatron-deepspeed model to transformers with  tools/convert_checkpoint/deepspeed_to_transformers.py, then modify checkpoint_json =  {"type": "Megatron","checkpoints": file_list,"version": 1.0} to inference , but I get an error as follows:

   /home/a

[2022-09-09 14:03] mayank31398 commented on #346
Hf models are readily compatible with deepspeed.
Deepspeed.initialize wraps any nn.module class object

[2022-09-09 14:03] #346 closed

[2022-09-12 17:28] misska1 commented on #343
I need to finetune 7B model on V100(32GB)*4 can only use zero_stage 0 and convert transformers into megatron models for TP&PP 4. Looking forward to your work on this  script to increase TP &PP size for Deepspeed checkpoint @stas00

[2022-09-12 17:48] misska1 opened #347 "grad norm increase strangely"
When I run this [](https://github.com/bigscience-workshop/bigscience/blob/master/train/tr11-176B-ml/smaller_models/tr11f-6B3-ml-continuation.slurm) script to continue training the model ,I got a strange grad norm and huge loss after auto reduced loss-scale of overflow .Just like I am training from random.

<img width="1741" alt="截屏2022-09-09 下午4 21 47" src="https://user-images.githubusercontent.co

[2022-09-12 19:39] stas00 commented on #343
Please see:
https://github.com/bigscience-workshop/bigscience/tree/master/train/tr11-176B-ml#checkpoint-reshaping
I know it's not generic at the moment, please let me know if you run into any difficulties following those instructions while adapting to your situation.

@tjruwase, it's probably a good idea to document the topology reshaping process as part of the functionality. Do you have plans to

[2022-09-12 19:42] stas00 commented on #347
the initial topology conversion was written for BF16Optimizer, but here you use zero stage=1, which I haven't worked with, so I have no experience with this use-case.

Tagging @tjruwase who will know the answer as he has been working on porting the functionality to stages 1,2,3. I am not sure if it's complete or not.

[2022-09-13 02:56] misska1 commented on #347
@tjruwase I have tried stage 0,1 on checkpoint of [](https://huggingface.co/bigscience/bloom-7b1-optimizer-states) and  checkpoint  transfered from [](https://huggingface.co/bigscience/bloom-7b1)  to DS . All trials have the same issue

[2022-09-13 14:53] sarthaklangde opened #348 "Slower inference results for BLOOM fp16 on identical hardware"
Hey,

Thank you for the scripts for loading checkpoints and running benchmarks. I have a strange issue that ds_inference fp16 throughput is quite slower than the results mentioned. But, the int8 benchmark results are almost identical.

Environment:
GCP `a2-ultragpu-8g` with A100 8x80GB, 1.3 TB Memory, 96 vCPUs
Debian 11

For fp16 & batch size 1, the throughput I receive is 67 msecs/token while it

[2022-09-13 15:22] tjruwase commented on #343
@stas00, thanks for helping with this issue. Yes, documentation is on my TODO. I think linking to your recipe is a great solution for now.

[2022-09-13 15:32] mayank31398 commented on #348
@sarthaklangde i have the same issue.
I believe this might be due to the internal pcie tree implementation being different.
@stas00 fyi

[2022-09-13 15:32] mayank31398 commented on #348
I dont believe it has anything to do with your environment

[2022-09-13 15:42] stas00 commented on #348
My tests were run on JeanZay HPC so it's possible their servers are somehow beefier hardware-wise?

It is interesting that you both report the same speed with int8.

@RezaYazdaniAminabadi, do you by chance have any insights at why this might be the case? What throughput do you get on your Azure nodes for bs=1 so that we have another point of comparison.

There are 2 hardware versions of A100. Do w

[2022-09-15 11:37] StochasticRomanAgeev commented on #348
Could this be due to slow communication between GPUs?

After profiling, it turns out that communication takes up 66% of the time, and **ncclKernel_AllReduce_RING_LL_Sum_half(ncclWorkElem)** is used for this. Is it true that in the case of 8 GPUs all-to-all communication is expected?

Could you please tell what environment variables you are using, as the variables from [here](https://docs.nvidia.co

[2022-09-15 16:49] stas00 commented on #348
Unfortunately I no longer have access to JeanZay so I can't retrieve any more data at the moment.

That's very possible. If you think of it this could also be an issue of PCIe vs NVLink (or even NVSwitch) and their generations.

[2022-09-16 22:22] gordicaleksa commented on #320
Any update on this one? Hitting the same error.

[2022-09-23 02:58] misska1 commented on #347
Hi，I have build tokenizer successfully.But I still get the same result that grad norm and loss increased sharply. Could  you please provide more details about the training of 1B7 or 3B or 7B1 models?  @stas00 @tjruwase

[2022-09-23 15:51] stas00 commented on #347
I only worked on 176B so I'm not the right person to ask. @TevenLeScao, @thomasw21  - would you know who trained the 1B7 or 3B or 7B1 models - do we have the slurm jobs for those somewhere on https://github.com/bigscience-workshop/bigscience/tree/master/train and if they aren't there we probably should add those. Thank you!

[2022-09-23 16:00] thomasw21 commented on #347
I think the first grad norms that are 0 are linked to overflow, so essentially we drop the batch and reduce the loss factor. So everything should be normal, typically you can look at the decreasing lm loss

[2022-09-26 08:28] misska1 commented on #347
are 0 are linked to overflow, so essentially we drop the batch and reduce the loss factor. So everything should be normal, typically you can look at the decreasing lm loss

Yes ,apex wil ignore the step when the grad not in the range of fp16 and then decrease the loss scale.

I have tried to decrease the learning rate  step by step.But I stiil got the same tendency of grad norm and loss.
Actually

[2022-09-27 14:14] thomasw21 commented on #347
I'm not sure what you're missing. My honest guess if you're not loading the optimizer state correctly as during the training process we would reschedule jobs all the time linked to our compute provider and so loading from a state was a necessary feature. Could you please retry with https://huggingface.co/bigscience/bloom-7b1-optimizer-states .

If it still doesn't work, I don't have a good idea of

[2022-09-27 15:36] philippmtk opened #350 "Load Bloom Optimizer State (i.e. Bloom 1B1)"
Hi,

I want to continue training of the Bloom model. To start simple, I want to load the 1.1B model into this Megatron-DeepSpeed library.

I tried to run pretrain_gpt.py with the argument "load" set to the path of the 1b1 optimizer state (from here https://huggingface.co/bigscience/bloom-1b1-optimizer-states/tree/main/global_step660750)

It is complaining that there is no meta file available:

![e

[2022-10-04 12:58] thies1006 commented on #343
I tried to create an universal checkpoint of the 3B model (following the instructions in the link) and I get `KeyError: 'param_slice_mappings'`. It seems that this key is created by the BP16 optimizer and (if I'm not mistaken) the 3B model was trained in FP16 format. Is it possible to create the universal checkpoint for those models as well? Thank you! @stas00

[2022-10-04 13:35] tjruwase commented on #343
@thies1006, there is ongoing work to support other models. Can you please try the following combination?

Megatron-DeepSpeed: https://github.com/bigscience-workshop/Megatron-DeepSpeed/pull/349
DeepSpeed: https://github.com/microsoft/DeepSpeed/pull/2284

[2022-10-04 14:12] thies1006 commented on #343
I tried with those PRs and it seems that the problem stays the same.
[code]

[2022-10-04 16:11] thies1006 commented on #343
I'm referring to this model:
https://huggingface.co/bigscience/bloom-3b-optimizer-states/tree/main/global_step337250
I cannot say for sure if this model was trained with Zero 1, maybe @stas00 can confirm?

[2022-10-04 17:02] stas00 commented on #343
only 176B was trained on A100 and thus bf16, everything else was trained on V100s, thus fp16, thus z1

[2022-10-04 17:34] tjruwase commented on #343
Got it. In that case, the model was trained before we started adding universal checkpoint support to z1. Resolving this could require regenerating the checkpoints with the new z1 code. Is this feasible, @stas00?

[2022-10-04 17:54] stas00 commented on #343
I wasn't part of this training, @TevenLeScao do you by chance know who did the bloom-3b training? and if it's possible to update to the deepspeed@master in the conda env, run one more iteration, save the new checkpoint and update https://huggingface.co/bigscience/bloom-3b-optimizer-states/tree/main/global_step337250?

[2022-10-14 15:53] MatejUlcar opened #355 "deepspeed_to_megatron several issues"
1. A recent commit removed `tools/convert_checkpoint/deepspeed_checkpoint.py` but there is still an attempt to import it in `tools/convert_checkpoint/deepspeed_to_megatron.py`. The other scripts in the folder appear to be ok. I guess the import on the line 7 should be changed from `from .deepspeed_checkpoint import ARGS_KEY, DeepSpeedCheckpoint` to `from deepspeed.checkpoint.deepspeed_checkpoint i

[2022-11-10 08:16] heraclex12 commented on #343
Hi, any updates? Does anyone overcome this issue?

[2022-11-11 04:29] heraclex12 commented on #350
I think you should create manually a `latest` file that contains the checkpoint folder name i.g., `global_step660750`

[2022-11-13 13:29] TevenLeScao commented on #343
Hey, sorry for missing this thread - @stas00 I'm trying that fix.

[2022-11-15 16:13] hatvn commented on #350
Have you tried it and can you tell me exactly the content of your manually created `latest`?